@charset "utf-8";

@import url(pretendard/font.css);

/*** Root ***/
:root{
    /* full layout */
    --layout-size: 768px;

    /* color */
    --color-black: #111;
    --color-blue: #2168F5;
    --color-green: #009412;
    --color-red: #D7260D;
    --color-gray-lv1: #FCFCFC;
    --color-gray-lv2: #F5F5F5;
    --color-gray-lv3: #EFEFEF;
    --color-gray-lv4: #DFDFDF;
    --color-gray-lv5: #C8C8C8;
    --color-gray-lv6: #B7B7B7;
    --color-gray-lv7: #949494;
    --color-gray-lv8: #777777;
    --color-gray-lv9: #555555;
    --color-gray-lv10: #303030;
    
    /* default-radius */
    --radius-lv1: 3px;
    --radius-lv2: 5px;
    --radius-lv3: 10px;
    --radius-lv4: 15px;

    /* border-stroke */
    --border-lv1: 1px;
    --border-lv2: 2px;

    /* box-shadow */
    --shadow-lv1: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    --shadow-lv2: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
    --shadow-lv3: 0 1px 20px 0 rgba(0, 0, 0, 0.1);

    /* padding */
    --tablet-space: 32px;
    --tablet-space--side: 0 32px;
    --base-space: 16px;
    --base-space--side: 0 16px;
}

/*** Reset ***/
*{box-sizing:border-box;-webkit-tap-highlight-color:rgba(255,255,255,0);user-select: none;-webkit-touch-callout: none;/*cursor:default;*/-webkit-user-select: none;
-moz-user-select: none;-ms-user-select: none;}
html,body {-ms-content-zooming: none; -ms-touch-action: pan-x pan-y;touch-action:pan-x pan-y;}
html, body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, span, form, fieldset, input, select, label, textarea, table, caption, thead, tfoot, tbody, tr, th, td
{
    margin:0;padding:0;
    color:var(--black);font-family:'Pretendard', sans-serif;font-size:16px;font-weight:400;line-height:1.5;
    font-smoothing:antialiased;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:none;color:#111;
}
b, span, strong, input, a, button{font-size:inherit;font-family:inherit;color:inherit;font-weight:inherit;}
article, aside, dialog, footer, header, section, footer, nav, figure, hgroup, details, summary, figure, figcaption{display: block;}
article {font-size: 0;}
cite{display:inline}
html, body{height:100%;}
body{overflow-x:hidden;margin:0px;}
a:link{text-decoration:none;} 
a:visited{text-decoration:none;}
img{border:0;max-width:100%}
label, input, textarea, select{vertical-align:middle}
ol, ul{list-style:none;}
table{border-collapse:collapse;table-layout:fixed;}
fieldset{border:none}
.skip, hr, legend{position:absolute;left:-1000%;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden;}
button{margin:0;padding:0;border:none;background:none;cursor:pointer;display:inline-block;}
b{font-weight:500}
input{border-radius:0;appearance:none;-webkit-border-radius:0;-webkit-appearance:none}
input[type=text]::-ms-clear{display: none;}
caption, caption>strong, caption>p, .scHdn, .txtHidden, legend {position:absolute;top:0;left:0;width:1px;height:1px;margin:1px;border:none;overflow:hidden; clip:rect(0, 0, 0, 0)}

/*** style_guide ***/
#dim{position:fixed;top:0;left:0;width:100%;height:100%;background:#000;visibility:hidden;opacity:0;}
#dim.on{display:block;visibility:visible;opacity:0.5;z-index:900;}
#gnb_dim.on{display:block;visibility:visible;opacity:0.5;z-index:99;}


/* Background */
.bg_White {background:#ffffff !important}
.bg_Black {background:var(--color-black) !important}
.bg_Gray1 {background:var(--color-gray-lv1) !important}
.bg_Gray2 {background:var(--color-gray-lv2) !important}
.bg_Gray3 {background:var(--color-gray-lv3) !important}
.bg_Gray4 {background:var(--color-gray-lv4) !important}
.bg_Gray5 {background:var(--color-gray-lv5) !important}
.bg_Gray6 {background:var(--color-gray-lv6) !important}
.bg_Gray7 {background:var(--color-gray-lv7) !important}
.bg_Gray8 {background:var(--color-gray-lv8) !important}
.bg_Gray9 {background:var(--color-gray-lv9) !important}
.bg_Gray10 {background:var(--color-gray-lv0) !important}
.bg_Red {background:var(--color-red) !important}
.bg_Blue {background:var(--color-blue) !important}
.bg_Navy {background:var(--color-navy) !important}
.bg_Green {background:var(--color-green) !important}

.kA{word-break:keep-all !important;}
.inB {display:inline-block;vertical-align: top;}
.fixedBr {display:none;}
.clampTxt {overflow: hidden;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;}

button:focus-visible,
a:focus-visible {
  outline: 2px solid #000;
}

button:focus:not(:focus-visible),
a:focus:not(:focus-visible){
  outline: none;
}

/* weight */
.wB{font-weight:bold !important;}
.wN{font-weight:400 !important;}

/* Title */
.headLine1{display:block;width:100%;font-size:28px;font-weight:bold;line-height:36px;letter-spacing:0;}
.headLine2{display:block;width:100%;font-size:24px;font-weight:bold;line-height:34px;letter-spacing:0;}
.headLine3{display:block;width:100%;font-size:20px;font-weight:bold;line-height:28px;letter-spacing:0;}
.headLine4{display:block;width:100%;font-size:18px;font-weight:bold;line-height:24px;letter-spacing:0;}
.headLine5{display:block;width:100%;font-size:16px;font-weight:bold;line-height:22px;letter-spacing:0;}

/* subtxt */
.txtBody1{display:block;width:100%;font-size:16px;line-height:24px;letter-spacing:0;}
.txtBody2{display:block;width:100%;font-size:14px;line-height:20px;letter-spacing:0;}
.txtBody3{display:block;width:100%;font-size:12px;line-height:18px;letter-spacing:0;}

.txtAlert{display:block;width:100%;margin-top:30px;font-size:16px;line-height:21px;letter-spacing:0;color:var(--color-gray-lv8);padding-left:25px;background:url(../img/common/ico_alertBlue.svg) no-repeat left 0 top 2px;}
.txtAlert+.txtAlert {margin-top:10px;}
.txtAlert.noIcon {padding-left: 0;background: none;}

.txtList{width:100%;height:auto;}
.txtList>li{position:relative;font-size:14px;line-height:20px;color:var(--color-black);letter-spacing:0;}

/*dot*/
.txtList.dot>li+li {margin-top: 11px;}
.txtList.dot>li{padding-left:8px;font-size:16px;line-height:24px;color:#000;word-break: keep-all;}
.txtList.dot>li::before{content:"";position:absolute;left:0;top:10px;display:block;width:3px;height:3px;border-radius:50%;background-color:var(--color-gray-lv9);}
.txtList.dot>li>.txtList.hyphen{margin-top:5px;margin-bottom:5px;}

.txtList_s.dot{width:100%;height:auto;margin-top:20px;}
.txtList_s.dot>li{position:relative;padding-left:8px;font-size:14px;line-height:20px;color:var(--color-gray-lv8);letter-spacing:0;word-break: keep-all;}
.txtList_s.dot>li+li {margin-top:8px;}
.txtList_s.dot>li::before{content:"";position:absolute;left:0;top:8px;display:block;width:2px;height:2px;border-radius:50%;background-color:var(--color-gray-lv9);}

.txtList.hyphen>li{padding-left:11px;color:var(--color-gray-lv8);}
.txtList.hyphen>li+li {margin-top:3px;}
.txtList.hyphen>li::before{content:"";position:absolute;left:0;top:9px;display:block;width:5px;height:1px;background-color:#666;;}

.txtList.halfType{font-size:0;flex-wrap:wrap}
.txtList.halfType li{width:50%;display:inline-block;vertical-align:top;padding-right:10px;}
.txtList.halfType li:nth-of-type(2){margin-top:0;}

.txtList.bullet>li{padding-left:22px}
.txtList.bullet>li::before{content:attr(data-point);position:absolute;left:0;top:0;display:block;width:20px;height:auto;font-size:inherit;line-height:inherit;}

.txtList.smTxtList>li {font-size: 14px;line-height: 20px;color: var(--color-gray-lv8);}
.txtList.dot.smTxtList>li::before {background-color: var(--color-gray-lv8);}
.txtList.dot.smTxtList>li+li {margin-top: 8px;}

/*Accordion*/
.AccordionBase{width:100%;height:auto;border-top:1px solid #e3e3e3;}
.AccordionBase>li{position:relative;width:100%;height:auto;border-bottom:1px solid #e3e3e3;transition:background-color 0.2s;}
.AccordionBase>li .AccordionBtn{position:relative;display:block;width:100%;padding:19px 50px 19px 32px;text-align:left;background:#fff;}
.AccordionBase>li .AccordionBtn>span{position:relative;display:block;font-size:16px;font-weight:bold;line-height:22px;color:var(--color-black);}
.AccordionBase>li .AccordionBtn::after{content:"";width:16px;height:9px;position:absolute;right:0;top:29px;background:url(../img/common/icon_accOff_arrB.svg) no-repeat center center;background-size: 100% auto;transition:all 0.2s;top:50%;margin-top:-4.5px}
.AccordionBase>li .AccordionCont{position:relative;padding:24px 16px 30px 16px;display:none;border-top:1px solid #e3e3e3}
.AccordionBase>li.on{background-color:var(--color-gray-lv2)}
.AccordionBase>li.on .AccordionBtn::after{transform:rotate(-180deg);background-image:url(../img/common/icon_accOn_arrB.svg)}

/* button */
.baseBtn {display:block;width:100%;height:52px;border-radius: 10px;background:#2168F5}
.baseBtn>span {display:flex;width:100%;height:100%;padding:0 15px;justify-content: center;align-items: center;font-size:16px;font-weight: 600;color:#fff;}

.btnGoLine {display:block;display:flex;align-items: center;height:60px;border-top:1px solid var(--color-gray-lv5);border-bottom: 1px solid var(--color-gray-lv5);background:url(../img/layout/ico_arrR_go.svg) no-repeat top 50% right 15px;padding-left:15px;font-weight: 600;}

.stickyBtm_wrap .stickyCont {position:fixed;bottom:75px;max-width:var(--layout-size);width:100%;z-index: 10;margin:0 auto;left:0;right:0;padding:0 36px;background:#fff;}
.stickyCont:before {content:'';display:block;position: absolute;top:0px;left: 0;width: 100%;height: 63px;margin-top:-63px;background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));pointer-events: none;}
.stickyCont .btnArea {padding-bottom: 55px !important;}
.stickyCont.type2 .btnArea {padding-bottom: 0 !important;}
.stickyCont.type2 ul {padding-bottom: 53px !important;}
.stickyCont>.btnArea {margin-top:0;}
.stickyCont .division {padding-top:20px;}
.stickyBtm_wrap.off .stickyCont {position:absolute;bottom:0;padding:0 36px}
.stickyBtm_wrap.off .stickyCont:before {display:none;}
.stickyBtm_wrap.off .stickyCont .btnArea {margin-bottom: 0;margin-top:48px;padding-bottom: 0 !important;}
.stickyBtm_wrap.off .stickyCont .division {padding-top:45px;}
.lineList_v .stickyBtm_wrap:not(.off) .stickyCont .btnArea  {padding-left:0 !important;padding-right: 0 !important;}
.lineList_v .stickyBtm_wrap.off .stickyCont .btnArea {margin-top:0 !important}
.stickyBtm_wrap.typeLine.off {position:relative;margin-top:40px;padding-top:40px;}
.stickyBtm_wrap.typeLine.off .stickyCont .btnArea {padding-bottom: 0 !important;}
.stickyBtm_wrap.typeLine.off .btnArea {margin-top:0;}
.stickyBtm_wrap.typeLine.off:before {content:'';display:block;position:absolute;left:-32px;top:0;width:calc(100% + 64px);height:1px;background:#ddd;}
.stickyBtm_wrap.typeLine .stickyCont .btnArea {padding-bottom: 60px !important;}
.stickyBtm_wrap.middleBtn .stickyCont {position: relative !important;bottom: auto !important;padding:0 !important}
.stickyBtm_wrap.middleBtn .btnArea {margin-top:48px;}
.stickyBtm_wrap.middleBtn .stickyCont .btnArea {padding-bottom: 45px !important;}
.stickyBtm_wrap.middleBtn .stickyCont:before {display:none !important;}

.lineBtn {width: 100%;height: 50px;box-sizing: border-box;display: inline-block;}
.lineBtn>.base {display: flex;justify-content: center;align-items: center;width: 100%;height: 100%;padding: 0 40px; border: 1px solid #ddd;background: #fff;box-sizing: border-box;text-align: center;color: #777;font-size: 16px;font-weight: 700;line-height: 22px;}
.lineBtn>.base>i.link {display: inline-block;vertical-align: -2px;margin-left: 7px;width: 12px;height: 6px;background: url(../img/common/ico_arrD_gray.svg)no-repeat center center;background-size: 100% auto;}

/* input */
input:focus::placeholder {color: transparent !important;}
.inputBase{width:100%;height:50px;padding:0 42px 0 16px;box-sizing:border-box;border:1px solid var(--color-gray-lv4);border-radius: var(--radius-lv2);font-size:16px;line-height:24px;letter-spacing:0;color:var(--color-black);background-color: #fff;}
.inputBase::placeholder {color: #C8C8C8;}
.inputBase:focus {border:1px solid var(--color-blue);outline:none !important;}
.inputBase:disabled{background-color:var(--color-gray-lv2);color:#111;opacity:1}
.inputBase:disabled::placeholder {color:var(--color-black)}
.inputBase:disabled+.keyRemove {display:none !important}
.inputBase:read-only{background-color:var(--color-gray-lv2);color:var(--color-gray-lv8);opacity:1}
.inputBase:read-only+.keyRemove {display:none !important}
.inputBase.icon{padding-right:40px;background-image:url(../img/common/icon_inputSample.png);background-repeat:no-repeat;background-position:right 16px center;}
.inputBase.keyInvaild {border:1px solid var(--color-red);}
.inputBase.keyInvaild+.validation {color:var(--color-red)}

.inputWrap {position:relative;font-size: 0;}
.inputWrap .keyRemove {position:absolute;top:50%;right:14px;margin-top:-9px;display:block;width:18px;height:18px;background:url(../img/common/ico_inputRemove.svg) no-repeat center;transition:.3s all;opacity: 0;}
.inputWrap .keyInvaild+.keyRemove {opacity: 1;}
.inputWrap .keyInvaild+.keyRemove+.validation {color:var(--color-red)}

.inputWrap .hasDatepicker+.ui-datepicker-trigger{position:absolute;right:15px;top:50%;transform:translateY(-50%)}

.inputDouble {display: flex;align-items: center;gap: 10px;}
.inputDouble .inputWrap {width: 100%;}

.fileUpload {position: relative;}

.formInput.file input[type="file"]{position: absolute;width: 1px;height: 1px;padding: 0;margin: -1px;overflow: hidden;clip:rect(0,0,0,0);border: 0;}
.formInput.file .fileAdd{position:relative;display:inline-block;vertical-align:middle;width:calc(100% - 116px);}
.formInput.file .fileAdd .baseBtn{position:absolute;right:4px;top:4px;height: 42px;min-width: 130px;cursor:pointer;}
.formInput.file .fileAdd .baseBtn>.base {padding: 0 15px;border-radius: var(--radius-lv2);}
.formInput.file .fileAdd .inputBase{max-width:100%;padding-right:150px;}
.formInput.file .fileCont {display:inline-block;vertical-align:middle;font-size:0;}
.formInput.file .fileCont button {display:inline-block;vertical-align:middle;margin-left:8px;}

.formInput{font-size:0;width:100%;display:block;}
.formInput .defaultTxt {font-size:16px;margin-top:16px;line-height: 21px;color:#111;}
.formInput+.formInput {margin-top: 24px;}
.formInput>.guide{position:relative;display:flex;align-items: center;font-size:16px;line-height:22px;color:var(--color-black);margin-bottom:7px;font-weight:700;font-style:normal;}
.formInput>.guide.txtHidden {position:absolute;}
.formInput>.guide .need {position:relative;display:inline-block;width:6px;height:6px;margin-top:-7px;margin-left:3px;background:url(../img/common/ico_need.svg) no-repeat center;vertical-align: top;}
.formInput>.validation{margin-top:8px;font-size:12px;line-height:16px;letter-spacing:0;color:var(--color-gray-lv7)}
.formInput>.validation.keyInvaild {color:var(--color-red)}
.formInput>.byte{text-align:right;margin-top:4px;font-size:14px;line-height:24px;color:#888888}
.formInput>.byte>.val{color:var(--color-black);display:inline-block;}
.formInput>.byte>.total{color:inherit;font-size:inherit;margin-bottom:inherit;color:var(--color-gray-lv7);}
.formInput>.validation+.byte {margin-top:-21px}
.formInput.disabled>.guide {color:var(--color-gray-lv4)}
.formInput.disabled>.validation {color:var(--color-gray-lv4)}
.formInput.disabled>.byte {color:var(--color-gray-lv4)}
.formInput.disabled>.byte>.val {color:var(--color-gray-lv4)}
.formInput.disabled>.guide .need {background-image: url(../img/common/ico_needDis.svg);}
.formInput.readonly>.guide {color:var(--color-gray-lv4)}
.formInput.readonly>.validation {color:var(--color-gray-lv4)}
.formInput.readonly>.byte {color:var(--color-gray-lv4)}
.formInput.readonly>.byte>.val {color:var(--color-gray-lv4)}
.formInput.readonly>.guide .need {background-image: url(../img/common/ico_needDis.svg);}

textarea:focus {border:1px solid var(--color-blue);outline:none !important;}
.inputTextArea {width:100%;height:auto;padding:15px 14px;border-radius: var(--radius-lv2);font-size:16px;line-height:21px;color:var(--color-black);resize:none;box-sizing:border-box;border:1px solid var(--color-gray-lv4);}
.inputTextArea:disabled {background-color:var(--color-gray-lv2);color:var(--color-gray-lv5);border:none;}
.inputTextArea[readonly] {background-color:var(--color-gray-lv2);color:var(--color-gray-lv5);border:none;}

.formInput.inline{display:inline-block;vertical-align:middle;width:auto;}
.formInput.inline .guide{display:inline-block;vertical-align:middle;margin-right:20px;margin-bottom:0px;}
.formInput.inline .inputBase,
.formInput.inline .selectBase,
.formInput.inline .inputWrap {vertical-align:middle;max-width:200px;display:inline-block;width:200px;}

.formInput.devided .inputWrap {display: inline-block;width: calc(50% - 5px);}
.formInput.devided .inputWrap+.inputWrap {margin-left: 10px;}

.formInput.devided2 .inputWrap+.inputWrap {margin-top: 10px;}

input::-webkit-inner-spin-button{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

/* selectBox */
.selectBase{display:block;width:100%;height:50px;padding:0px 40px 0px 16px;border:1px solid var(--color-gray-lv4);box-sizing:border-box;font-size:16px;color:var(--color-black);text-align:left;
    background:#fff url(../img/common/icon_selectBase.svg) no-repeat right 16px top 50%; background-size: auto;
    border-radius: var(--radius-lv2);
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
}
.selectBase::-ms-expand{display: none;}
.selectBase:disabled {background-color:var(--color-gray-lv2);color:var(--color-gray-lv5);border:none;}
.selectBase.typeArrow {display:inline-block;border:0;height:auto;width:auto;background:none;padding:0;text-align: right;}
.selectBase.typeArrow span {width:auto;padding-right:20px;background:url(../img/common/btn_arrow_b.svg) no-repeat right center !important;font-size:14px;}
.selectBase:focus {border:1px solid var(--color-blue);outline:none;}
textarea:focus {border:1px solid var(--color-blue);outline:none;}

/* checkBox */
.inputBox{position:relative;width:auto;display:inline-block;vertical-align:top;cursor:pointer;}
.inputBox>input{position:absolute;left:0px;top:3px;width:24px;height:24px;z-index:0;}
.inputBox>input:focus{width:26px;height:24px;top:3px;left:-1px;}
.inputBox>.data{position:relative;display:inline-block;min-height:28px;font-size:16px;line-height:21px;color:var(--color-black);padding-left:32px;z-index:1;padding-top:6px;}
.inputBox>input[type=checkbox] + .data{background:url(../img/common/icon_checkOff.svg) no-repeat left top 3px;background-size: 24px auto;}
.inputBox>input[type=checkbox]:checked + .data{background:url(../img/common/icon_checkOn.svg) no-repeat left top 3px;background-size: 24px auto;}
.inputBox>input[type=checkbox]:disabled + .data{background:url(../img/common/icon_checkDis2.png) no-repeat left top 3px;background-size: 24px auto;color:#BEBEBE;}
.inputBox>input[type=checkbox]:disabled:checked + .data{background:url(../img/common/icon_checkOff.svg) no-repeat left top 3px;background-size: 24px auto;color:#BEBEBE;}
.inputBox>input[type=checkbox][readonly] + .data{background:url(../img/common/icon_checkDis.svg) no-repeat left top 3px;background-size: 24px auto;color:#BEBEBE;}

.inputBox>input[type=radio] + .data{background:url(../img/common/icon_radioOff.svg) no-repeat left top 3px;background-size: 24px auto;}
.inputBox>input[type=radio]:checked + .data{background:url(../img/common/icon_radioOn.svg) no-repeat left top 3px;background-size: 24px auto;}
.inputBox>input[type=radio]:disabled + .data{background:url(../img/common/icon_radioDisabled.svg) no-repeat left top 3px;background-size: 24px auto;color:#BEBEBE;}
.inputBox>input[type=radio]:disabled:checked + .data{background:url(../img/common/icon_radioDisabled2.png) no-repeat left top 3px;background-size: 24px auto;color:#BEBEBE;}
.inputBox>input[type=radio][readonly] + .data{background:url(../img/common/icon_radioDisabled2.png) no-repeat left top 3px;background-size: 24px auto;color:#BEBEBE;}
.inputBox .status {padding-left:34px;font-size:14px;color:#B9B9B9;line-height: 18px;}

.inputBox.round>input + .data{background:url(../img/common/icon_checkRoundOff.svg) no-repeat left top 3px;background-size: 24px auto;}
.inputBox.round>input:checked + .data{background:url(../img/common/icon_checkRoundOn.svg) no-repeat left top 3px;background-size: 24px auto;}
.inputBox>.data.txtBody1{font-size:18px;line-height:28px;padding-top:1px;}

.inputBox.toggle>input{width:48px;height:24px;top:4px;}
.inputBox.toggle>input:focus{width:50px;height:25px;top:4px;left:-1px;}
.inputBox.toggle>.data{padding-left:56px;background:none !important;}
.inputBox.toggle>.data::before{content:"";position:absolute;left:0;top:3px;display:block;width:48px;height:26px;border-radius:14px;background-color:#D1D1D1;transition:all 0.2s;z-index:0;}
.inputBox.toggle>.data::after{content:"";position:absolute;left:2px;top:5px;display:block;width:22px;height:22px;border-radius:50%;background-color:#fff;transition:all 0.2s;z-index:1;}
.inputBox.toggle>[type=checkbox]:checked + .data::after{left:24px;}
.inputBox.toggle>[type=checkbox]:checked + .data::before{background-color:var(--color-blue);}

/* datepicker */
.picker_txt {display:inline-block;padding-left:5px;vertical-align:top;line-height:50px;text-align:center;}
.fd-screen-reader {margin-top:-22px !important;z-index: 10;;}
.date-picker .prev-but,
.date-picker .next-but {font-size:18px !important;}
.ui-datepicker td a {padding:0 !important;font-size:12px !important;text-align:center !important;letter-spacing:-1px !important;}

.date-picker-control:link,
.date-picker-control:visited {top:11px !important;right:16px;width:24px;height:24px;background:url(../img/common/ico_datepicker.svg) no-repeat center !important;}
.date-picker-control span {width:24px !important;height:24px !important;}
.date-picker-button-active span,
.date-picker-control:focus span,
.date-picker-control:hover span,
.date-picker-control:active span {box-shadow: none !important;border-radius: 0;}


.noArticle {border-top:1px solid #ddd;padding-top:15px;margin: 70px 0;}
.noArticle .txtBody1 {color:#777;text-align: center;}
.headLine2+.noArticle {margin-top:24px;}
.headLine4+.noArticle {margin-top:40px;}
.noArticle+.headLine2 {margin-top:48px;}

.noArticleWrap {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);width: 100%;}
.noArticle.typeIco {border-top:0;padding-top:0;margin-bottom: 85px;}
.noArticle.typeIco+.txtList_s {margin-top: 0 !important;}
.noArticle.typeIco .txtBody1 {padding-top:85px;background:url(../img/common/ico_noArticle.svg) no-repeat left 50% top 0;margin-top:80px;font-weight: 700;color:#111;}
/* title & txt */
.contTit{display:block;margin:0 0 12px;font-size:30px;font-weight:700;color:var(--color-black);line-height:1.2;}
.contTit_s{display:block;margin:0 0 15px;color:#173070;font-size:20px;font-weight:700;line-height:1.2;}

p.txt{color:#666;font-size:16px;font-weight:400;line-height:1.8;}
p.exclam{padding-left:33px;background:url(../img/common/ico_exclam_red.png) no-repeat left top 1px;color:#666;font-size:16px;font-weight:400;line-height:1.6;}
p.exclam_s{padding-left:23px;background:url(../img/common/ico_exclam_line.png) no-repeat left top 5px;color:#888;font-size:16px;font-weight:400;line-height:1.6;text-align:left;}

.pageTop_noti {display:block;position:relative;overflow:hidden;max-width:1500px;margin:0 auto 40px;box-sizing:border-box;padding:0 50px;}
.pageBtm_noti {display:block;position:relative;overflow:hidden;max-width:1500px;margin:30px auto 0px;box-sizing:border-box;padding:0 50px;}

/* TAB */
/*table*/
.contTable{position:relative;width:100%;height:auto;overflow-x:auto;}
.contTable.typeScroll {width:calc(100% + 32px) !important;padding-right:32px !important;}
.contTable table{position:relative;width:100%;table-layout:fixed;border-collapse:collapse}
.contTable table:before {content:'';position:absolute;left:0;top:0;;display:block;width:100%;height:1px;background:var(--color-black)}
.contTable table th{font-size:16px;font-weight:700;color:var(--color-black);line-height:26px;height:50px;text-align:center;padding:13px;border-right:1px solid #e3e3e3;background-color:var(--color-gray-lv2);vertical-align: middle;}
.contTable table tbody td{font-size:16px;color:black;line-height:26px;height:50px;text-align:center;padding:13px;border-right:1px solid #e3e3e3;vertical-align: middle;word-break: break-word;}
.contTable table thead th:last-of-type,
.contTable table tbody td:last-of-type{border-right:0;}

.contTable table thead th[colspan]:first-of-type,
.contTable table thead th[rowspan]:first-of-type,
.contTable table tbody td[colspan]:first-of-type,
.contTable table tbody td[rowspan]:first-of-type{border-left:0;}

.contTable table thead th[colspan],
.contTable table thead th[rowspan],
.contTable table tbody td[colspan],
.contTable table tbody td[rowspan]{border-left:1px solid #E6E6E6;}

.contTable table thead th[colspan]:last-of-type,
.contTable table thead th[rowspan]:last-of-type,
.contTable table tbody td[colspan]:last-of-type,
.contTable table tbody td[rowspan]:last-of-type{border-right:0;border-left:1px solid #E6E6E6;}

.contTable table tbody td .txtList.dot>li{font-size:16px;line-height:24px;}
.contTable table tbody td .txtList.dot>li::before{top:10px;}

.contTable table tbody th{text-align:left;padding-left:16px;padding-right:16px;}
.contTable table thead tr,
.contTable table tbody tr{border-bottom:1px solid #E6E6E6;}

.tableTouchArea{position:absolute;background-color:rgba(0,0,0,0.3);width:100%;height:100%;left:0;top:0;}
.tableTouchArea .tableScrollTouch{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%); width:85px;height:85px;background:url(../img/common/icon_tableTouch.png) no-repeat center center;background-size: 100% auto;opacity:0.7;}

.contTab_Group{width:100%;}
.contTab_Group .contTab{display:none;}
.contTab_Group .contTab.on{display:block;}

.contTabArea {position: relative;display:flex;align-items: flex-end;height:49px;background:#F6F7F9;border-bottom:1px solid #E5E5E5}
#contTab_line{position: absolute;bottom: -1px;width:100%;overflow-x:hidden}
#contTab_line .tabList{width:100%;font-size:0;white-space: nowrap;overflow-x: auto;padding-right: 32px;;}
#contTab_line .tabList::-webkit-scrollbar {display: none;}
#contTab_line .tabList>li{position: relative;display:inline-block;width:auto;overflow:hidden;margin:0 32px 0 0;vertical-align:top;}
#contTab_line .tabList>li:first-child {padding-left:32px;}
#contTab_line .tabList>li:last-child {margin-right: 0;}
#contTab_line .tabList>li a{display:block;box-sizing:border-box;padding-bottom:8px;color:var(--color-black);font-size:17px;line-height:23px;white-space:nowrap;}
#contTab_line .tabList>li.on a {color:var(--color-blue);font-weight: 700;}
#contTab_line .tabList>li.on::before {content: '';position: absolute;bottom: 0;left: 0;width: 100%;height: 2px;background: var(--color-blue);}
#contTab_line .tabList>li:nth-child(1).on::before {left: 32px;}

.subTabArea {display:block;margin-bottom:30px;width: calc(100% + 32px);}
.subTabArea  ul {display:flex;width:100%;white-space: nowrap;overflow-x: auto;overflow-y: hidden;padding-right: 32px;}
.subTabArea  ul>li.on>a {border:1px solid var(--color-blue);background:#fff;color: var(--color-blue);z-index: 1;}
.subTabArea  ul>li>a {position:relative;display:flex;/* align-items: center; */justify-content: center;height:36px;line-height: 36px;border-radius: 25px;background:var(--color-gray-lv2);text-align: center;color:#666;font-weight: 700;font-size:14px;padding:0 20px;border:1px solid var(--color-gray-lv2);}
.subTabArea  ul>li>a>span {line-height: 36px;padding-top: 1px;}
.subTabArea  ul>li.on>a>span {padding-top: 0;}
.subTabArea  ul>li+li {margin-left:10px;}

.limit{overflow-x:hidden;overflow-y:auto;}
.limitX{position:relative;overflow-y:hidden;overflow-x:auto;}

.contTabArea::-webkit-scrollbar-thumb {background: #F6F7F9;}

/*** popup ***/
.popInnerAdd{display:none;}

/* pop layout */
.pop_iframe {display:none;position:fixed !important;left:0;top:0;width:100%;height:100%;z-index:2000;}
.pop_iframe.on {display:block;}

.pop_wrap{padding:0 20px;background-color:rgba(0,0,0,0.4) !important;position:fixed;top:0;left:0;display:flex;justify-content: center;align-items: center;width:100%;height:100%;z-index:3000;display:none;transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);}
.pop_wrap.on {display:flex !important;}
.pop_wrap.bottomSheet {padding:0;}
.popLayout {position:relative;width:326px;background:#fff;z-index:1100;max-width:100%;padding:0 16px 28px 16px;max-width:var(--layout-size);border-radius:var(--radius-lv4);overflow-y: auto;}
.popLayout .popTit{display:block;z-index:99;padding:24px 20px 16px 0;font-size:20px;font-weight:bold;color:#111;letter-spacing:0;line-height:28px;word-break: keep-all;}
.popLayout .popConts{height: 100%;padding-top:0;font-size:16px;line-height: 24px;color:var(--color-gray-lv8);}
.popLayout .popConts .txtBody1 {color:var(--color-gray-lv8)}
.bottomSheet .popLayout .popConts .popInner {padding-left: 32px;padding-right: 32px;}
.popLayout .popConts .popInner.limit {height: 100%;overflow-x:hidden;overflow-y:auto;}
.popLayout .popConts .popBtnArea{position:relative;text-align:center;padding-top:20px;font-size:0;}
.popLayout .popConts .popBtnArea>button,
.popLayout .popConts .popBtnArea>a{margin:0 3px;vertical-align:middle;}
.popLayout .popConts .popBtnArea>button>.base,
.popLayout .popConts .popBtnArea>a>.base{border-radius:0px;}
.popLayout .popConts .btnArea {margin-top:24px;}
.popLayout .popConts .btnArea .baseBtn {width:100%;}
.popLayout .popConts .btnArea.double .baseBtn {width:50%;}
.popLayout .popConts .txtG {max-height:calc(100vh - 140px);max-height:calc(100dvh - 140px);overscroll-behavior: none;}
.scroll-gradient {position: absolute;bottom: 84px;left: 0;width: 100%;height: 75px;background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));pointer-events: none;}

.popLayout .btn_popX {position: absolute;top:24px;right: 16px;width: 18px;height: 18px;background: url(../img/common/icon_popClose.svg) no-repeat;}
.popLayout .btn_popX_wh {position: absolute;top:30px;right: 32px;width: 18px;height: 18px;background: url(../img/common/icon_popClose_wh.png) no-repeat;background-size: contain;}
.pop_wrap .txtG .btn_popX {position:relative;float:right;right:0;top:auto;}

.popLayout .btn_popX:focus {outline: none;}
.popLayout .btn_popX_wh:focus {outline: none;}
.popLayout .btnArea {padding-bottom: 6px;}

.pop_wrap.bottomSheet {align-items: flex-end;}
.pop_wrap.bottomSheet .btn_popX {top:5px;right:0;}

/* .pop_wrap.bottomSheet .popLayout {position:relative;width:100%;max-width:100% !important;border-bottom-left-radius: 0;border-bottom-right-radius: 0;padding-top: 30px;padding-left:32px;padding-right:1px;} */
.pop_wrap.bottomSheet .popLayout {position:relative;width:100%;max-width:100% !important;border-bottom-left-radius: 0;border-bottom-right-radius: 0;padding-top: 30px;padding-left:0;padding-right:0;}
.pop_wrap.bottomSheet .popLayout .popTit {padding-top:0;color:var(--color-navy);}
.pop_pwCheck .formInput>.guide{margin-bottom:20px;}
.pop_pwCheck .baseBtn.medium>.base{min-width:76px;}
.pop_wrap.bottomSheet .popLayout {transform: translateY(100%);}
.pop_wrap.bottomSheet .popConts>.btnArea {margin-top:0;padding-left:32px;padding-right: 32px;}
/* .pop_wrap.bottomSheet .popConts>.btnArea {margin-top:0;padding-left:0;padding-right: 0px;} */
.pop_wrap.bottomSheet .popInnerCont {padding-bottom: 30px;padding-right: 0;}
.pop_wrap.bottomSheet .popLayout .popConts .popTit {padding-bottom: 20px;font-size:20px;line-height: 28px;}
.pop_wrap.bottomSheet.on .popLayout {animation: openPop 0.2s forwards 0.2s ease-out;}

.pop_wrap.bottomSheet .popLayout.popLayer2 {padding-top: 0;padding-bottom: 0;}
.bottomSheet .popLayout.popLayer2 .popConts .popInner {padding-left: 0;padding-right: 0;}
.pop_wrap.bottomSheet .popLayer2 .btn_popX {top: 35px;right: 32px;}
.popLayout.popLayer2 {height:calc(100vh - 95px);height:calc(100dvh - 95px);}
.popLayout.popLayer2 .popInner {overflow-y: hidden !important;}



/* datepicker */
input.typeDate {background:#fff url(../img/common/ico_datepicker.svg) no-repeat top 50% right 15px !important;}
input.typeDate:disabled {pointer-events: none;}
.multiPicker {display:flex;align-items: center;}
.multiPicker>span {width:50px;text-align: center;}
.ui-datepicker {position:fixed !important;bottom:0 !important;left:0 !important;right:auto !important;top:auto !important;width:100%;border:0 !important;padding:32px 24px;z-index: 901 !important;background:#fff;border-top-left-radius: 15px;border-top-right-radius: 15px;}
.datepicker-layer {position: fixed;left:0;top:0;width:100%;height:100%;background:rgba(0, 0, 0, 0.3);z-index: 60;}
.datepicker-layer~.datepicker-layer {display:none !important;}
.ui-datepicker .btnArea~.btnArea {display:none !important}
.ui-datepicker .ui-datepicker-header {background:none;border-radius: 0 !important;border:0;}
.ui-datepicker .ui-datepicker-title {margin:0;line-height: inherit;}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {width:auto;}

.snackBar {position:fixed;bottom:114px;left:50%;max-width:343px;border-radius: var(--radius-lv4);width: calc(100% - 32px);height:64px;background:rgba(0,0,0,0.6);-webkit-backdrop-filter: blur(50px);backdrop-filter: blur(50px);z-index: 90;visibility: hidden;transform: translate(-50%, 0);}
.snackBar.on {visibility: visible;animation: fadein 0.5s, fadeout 0.5s 2.5s forwards;}
.snackBar .snack_inner {display:flex;align-items: center;width:100%;height:100%;padding:0 24px;}
.snackBar .snack_inner .ico {margin-right:16px;font-size:0;}
.snackBar .snack_inner .info {padding-right:20px;font-size:16px;color:#fff;font-weight: 700;}
.snackBar .snack_inner .snack_link {display:flex;width:100%;justify-content: space-between;align-items: center;flex-wrap: wrap;}
.snackBar .snack_inner .snack_link .ico_arrR {width:8px;height:14px;background:url(../img/common/icon_snack_arrR.svg) no-repeat center}
.snackBar .snack_inner .info_link {font-size:16px;color:var(--color-blue);font-weight: 700;}

.toolTip {position:absolute;top:calc(100% + 18px);left:50%;transform: translateX(-50%);max-width:300px;padding:15px 16px 13px;padding-right:30px;border-radius: var(--radius-lv1);background:var(--color-blue);z-index: 10;display:none;}
.toolTip .btn_toolTipClose {position:absolute;top:16px;right:16px;display:block;width:12px;height:12px;background:url(../img/common/icon_tooltip_close.svg) no-repeat center;}
.toolTip.on {display:block;}
.toolTip:before {content:'';display:block;position:absolute;width:16px;height:12px;left:50%;margin-left:-9.5px;top:-10px;background:url(../img/common/icon_tooltip_arrT.svg) no-repeat center;}
.toolTip .txtBody2 {color:#fff;line-height:22px;text-align: left;}
.toolTip.typeR {transform: translateX(0);left:auto;right:0}
.toolTip.typeR:before {left:auto;margin-left:0;right:13px;}


.topBtn{position:fixed;right:16px;bottom:110px;z-index:11;display:none;width:52px;height:52px;background:#B3B4B6 url(../img/common/btn_top.svg) no-repeat center center;background-size: 12px auto;border-radius:50%;box-shadow: 0px 3px 6px #00000029;opacity: .7;}
.topBtn.upBtn {bottom: 200px;}

/*** Component ***/
.txtL{text-align:left !important;}
.txtC{text-align:center !important;}
.txtR{text-align:right !important;}

.fL{float:left !important;}
.fR{float:right !important;}
.cB{clear:both !important;}
.cB::after{content:"";display: block;clear: both;}

.mT0{margin-top:0px !important;}
.mT1{margin-top:1px !important;}
.mT2{margin-top:2px !important;}
.mT3{margin-top:3px !important;}
.mT4{margin-top:4px !important;}
.mT5{margin-top:5px !important;}
.mT6{margin-top:6px !important;}
.mT7{margin-top:7px !important;}
.mT8{margin-top:8px !important;}
.mT9{margin-top:9px !important;}
.mT10{margin-top:10px !important;}
.mT11{margin-top:11px !important;}
.mT12{margin-top:12px !important;}
.mT13{margin-top:13px !important;}
.mT14{margin-top:14px !important;}
.mT15{margin-top:15px !important;}
.mT16{margin-top:16px !important;}
.mT17{margin-top:17px !important;}
.mT18{margin-top:18px !important;}
.mT19{margin-top:19px !important;}
.mT20{margin-top:20px !important;}
.mT21{margin-top:21px !important;}
.mT22{margin-top:22px !important;}
.mT23{margin-top:23px !important;}
.mT24{margin-top:24px !important;}
.mT25{margin-top:25px !important;}
.mT26{margin-top:26px !important;}
.mT27{margin-top:27px !important;}
.mT28{margin-top:28px !important;}
.mT29{margin-top:29px !important;}
.mT30{margin-top:30px !important;}
.mT32{margin-top:32px !important;}
.mT35{margin-top:35px !important;}
.mT40{margin-top:40px !important;}
.mT43{margin-top:43px !important;}
.mT45{margin-top:45px !important;}
.mT48{margin-top:48px !important;}
.mT50{margin-top:50px !important;}
.mT56{margin-top:56px !important;}
.mT60{margin-top:60px !important;}
.mT70{margin-top:70px !important;}
.mT80{margin-top:80px !important;}
.mT120{margin-top:120px !important;}

.mR0{margin-right:0px !important;}
.mR1{margin-right:1px !important;}
.mR2{margin-right:2px !important;}
.mR3{margin-right:3px !important;}
.mR4{margin-right:4px !important;}
.mR5{margin-right:5px !important;}
.mR6{margin-right:6px !important;}
.mR7{margin-right:7px !important;}
.mR8{margin-right:8px !important;}
.mR9{margin-right:9px !important;}
.mR10{margin-right:10px !important;}
.mR11{margin-right:11px !important;}
.mR12{margin-right:12px !important;}
.mR13{margin-right:13px !important;}
.mR14{margin-right:14px !important;}
.mR15{margin-right:15px !important;}
.mR16{margin-right:16px !important;}
.mR17{margin-right:17px !important;}
.mR18{margin-right:18px !important;}
.mR19{margin-right:19px !important;}
.mR20{margin-right:20px !important;}
.mR21{margin-right:21px !important;}
.mR22{margin-right:22px !important;}
.mR23{margin-right:23px !important;}
.mR24{margin-right:24px !important;}
.mR25{margin-right:25px !important;}
.mR26{margin-right:26px !important;}
.mR27{margin-right:27px !important;}
.mR28{margin-right:28px !important;}
.mR29{margin-right:29px !important;}
.mR30{margin-right:30px !important;}
.mR35{margin-right:35px !important;}
.mR40{margin-right:40px !important;}
.mR45{margin-right:45px !important;}
.mR50{margin-right:50px !important;}

.mB0{margin-bottom:0px !important;}
.mB1{margin-bottom:1px !important;}
.mB2{margin-bottom:2px !important;}
.mB3{margin-bottom:3px !important;}
.mB4{margin-bottom:4px !important;}
.mB5{margin-bottom:5px !important;}
.mB6{margin-bottom:6px !important;}
.mB7{margin-bottom:7px !important;}
.mB8{margin-bottom:8px !important;}
.mB9{margin-bottom:9px !important;}
.mB10{margin-bottom:10px !important;}
.mB11{margin-bottom:11px !important;}
.mB12{margin-bottom:12px !important;}
.mB13{margin-bottom:13px !important;}
.mB14{margin-bottom:14px !important;}
.mB15{margin-bottom:15px !important;}
.mB16{margin-bottom:16px !important;}
.mB17{margin-bottom:17px !important;}
.mB18{margin-bottom:18px !important;}
.mB19{margin-bottom:19px !important;}
.mB20{margin-bottom:20px !important;}
.mB21{margin-bottom:21px !important;}
.mB22{margin-bottom:22px !important;}
.mB23{margin-bottom:23px !important;}
.mB24{margin-bottom:24px !important;}
.mB25{margin-bottom:25px !important;}
.mB26{margin-bottom:26px !important;}
.mB27{margin-bottom:27px !important;}
.mB28{margin-bottom:28px !important;}
.mB29{margin-bottom:29px !important;}
.mB30{margin-bottom:30px !important;}
.mB35{margin-bottom:35px !important;}
.mB40{margin-bottom:40px !important;}
.mB45{margin-bottom:45px !important;}
.mB50{margin-bottom:50px !important;}
.mB70{margin-bottom:70px !important;}

.mL0{margin-left:0px !important;}
.mL1{margin-left:1px !important;}
.mL2{margin-left:2px !important;}
.mL3{margin-left:3px !important;}
.mL4{margin-left:4px !important;}
.mL5{margin-left:5px !important;}
.mL6{margin-left:6px !important;}
.mL7{margin-left:7px !important;}
.mL8{margin-left:8px !important;}
.mL9{margin-left:9px !important;}
.mL10{margin-left:10px !important;}
.mL11{margin-left:11px !important;}
.mL12{margin-left:12px !important;}
.mL13{margin-left:13px !important;}
.mL14{margin-left:14px !important;}
.mL15{margin-left:15px !important;}
.mL16{margin-left:16px !important;}
.mL17{margin-left:17px !important;}
.mL18{margin-left:18px !important;}
.mL19{margin-left:19px !important;}
.mL20{margin-left:20px !important;}
.mL21{margin-left:21px !important;}
.mL22{margin-left:22px !important;}
.mL23{margin-left:23px !important;}
.mL24{margin-left:24px !important;}
.mL25{margin-left:25px !important;}
.mL26{margin-left:26px !important;}
.mL27{margin-left:27px !important;}
.mL28{margin-left:28px !important;}
.mL29{margin-left:29px !important;}
.mL30{margin-left:30px !important;}
.mL35{margin-left:35px !important;}
.mL40{margin-left:40px !important;}
.mL45{margin-left:45px !important;}
.mL50{margin-left:50px !important;}

.pT0{padding-top:0px !important;}
.pT1{padding-top:1px !important;}
.pT2{padding-top:2px !important;}
.pT3{padding-top:3px !important;}
.pT4{padding-top:4px !important;}
.pT5{padding-top:5px !important;}
.pT6{padding-top:6px !important;}
.pT7{padding-top:7px !important;}
.pT8{padding-top:8px !important;}
.pT9{padding-top:9px !important;}
.pT10{padding-top:10px !important;}
.pT11{padding-top:11px !important;}
.pT12{padding-top:12px !important;}
.pT13{padding-top:13px !important;}
.pT14{padding-top:14px !important;}
.pT15{padding-top:15px !important;}
.pT16{padding-top:16px !important;}
.pT17{padding-top:17px !important;}
.pT18{padding-top:18px !important;}
.pT19{padding-top:19px !important;}
.pT20{padding-top:20px !important;}
.pT21{padding-top:21px !important;}
.pT22{padding-top:22px !important;}
.pT23{padding-top:23px !important;}
.pT24{padding-top:24px !important;}
.pT25{padding-top:25px !important;}
.pT26{padding-top:26px !important;}
.pT27{padding-top:27px !important;}
.pT28{padding-top:28px !important;}
.pT29{padding-top:29px !important;}
.pT30{padding-top:30px !important;}
.pT35{padding-top:35px !important;}
.pT40{padding-top:40px !important;}
.pT45{padding-top:45px !important;}
.pT50{padding-top:50px !important;}

.pR0{padding-right:0px !important;}
.pR1{padding-right:1px !important;}
.pR2{padding-right:2px !important;}
.pR3{padding-right:3px !important;}
.pR4{padding-right:4px !important;}
.pR5{padding-right:5px !important;}
.pR6{padding-right:6px !important;}
.pR7{padding-right:7px !important;}
.pR8{padding-right:8px !important;}
.pR9{padding-right:9px !important;}
.pR10{padding-right:10px !important;}
.pR11{padding-right:11px !important;}
.pR12{padding-right:12px !important;}
.pR13{padding-right:13px !important;}
.pR14{padding-right:14px !important;}
.pR15{padding-right:15px !important;}
.pR16{padding-right:16px !important;}
.pR17{padding-right:17px !important;}
.pR18{padding-right:18px !important;}
.pR19{padding-right:19px !important;}
.pR20{padding-right:20px !important;}
.pR21{padding-right:21px !important;}
.pR22{padding-right:22px !important;}
.pR23{padding-right:23px !important;}
.pR24{padding-right:24px !important;}
.pR25{padding-right:25px !important;}
.pR26{padding-right:26px !important;}
.pR27{padding-right:27px !important;}
.pR28{padding-right:28px !important;}
.pR29{padding-right:29px !important;}
.pR30{padding-right:30px !important;}
.pR35{padding-right:35px !important;}
.pR40{padding-right:40px !important;}
.pR45{padding-right:45px !important;}
.pR50{padding-right:50px !important;}

.pB0{padding-bottom:0px !important;}
.pB1{padding-bottom:1px !important;}
.pB2{padding-bottom:2px !important;}
.pB3{padding-bottom:3px !important;}
.pB4{padding-bottom:4px !important;}
.pB5{padding-bottom:5px !important;}
.pB6{padding-bottom:6px !important;}
.pB7{padding-bottom:7px !important;}
.pB8{padding-bottom:8px !important;}
.pB9{padding-bottom:9px !important;}
.pB10{padding-bottom:10px !important;}
.pB11{padding-bottom:11px !important;}
.pB12{padding-bottom:12px !important;}
.pB13{padding-bottom:13px !important;}
.pB14{padding-bottom:14px !important;}
.pB15{padding-bottom:15px !important;}
.pB16{padding-bottom:16px !important;}
.pB17{padding-bottom:17px !important;}
.pB18{padding-bottom:18px !important;}
.pB19{padding-bottom:19px !important;}
.pB20{padding-bottom:20px !important;}
.pB21{padding-bottom:21px !important;}
.pB22{padding-bottom:22px !important;}
.pB23{padding-bottom:23px !important;}
.pB24{padding-bottom:24px !important;}
.pB25{padding-bottom:25px !important;}
.pB26{padding-bottom:26px !important;}
.pB27{padding-bottom:27px !important;}
.pB28{padding-bottom:28px !important;}
.pB29{padding-bottom:29px !important;}
.pB30{padding-bottom:30px !important;}
.pB35{padding-bottom:35px !important;}
.pB40{padding-bottom:40px !important;}
.pB45{padding-bottom:45px !important;}
.pB50{padding-bottom:50px !important;}

.pL0{padding-left:0px !important;}
.pL1{padding-left:1px !important;}
.pL2{padding-left:2px !important;}
.pL3{padding-left:3px !important;}
.pL4{padding-left:4px !important;}
.pL5{padding-left:5px !important;}
.pL6{padding-left:6px !important;}
.pL7{padding-left:7px !important;}
.pL8{padding-left:8px !important;}
.pL9{padding-left:9px !important;}
.pL10{padding-left:10px !important;}
.pL11{padding-left:11px !important;}
.pL12{padding-left:12px !important;}
.pL13{padding-left:13px !important;}
.pL14{padding-left:14px !important;}
.pL15{padding-left:15px !important;}
.pL16{padding-left:16px !important;}
.pL17{padding-left:17px !important;}
.pL18{padding-left:18px !important;}
.pL19{padding-left:19px !important;}
.pL20{padding-left:20px !important;}
.pL21{padding-left:21px !important;}
.pL22{padding-left:22px !important;}
.pL23{padding-left:23px !important;}
.pL24{padding-left:24px !important;}
.pL25{padding-left:25px !important;}
.pL26{padding-left:26px !important;}
.pL27{padding-left:27px !important;}
.pL28{padding-left:28px !important;}
.pL29{padding-left:29px !important;}
.pL30{padding-left:30px !important;}
.pL35{padding-left:35px !important;}
.pL40{padding-left:40px !important;}
.pL45{padding-left:45px !important;}
.pL50{padding-left:50px !important;}

.fW300{font-weight:300 !important;}
.fW400{font-weight:400 !important;}
.fW500{font-weight:500 !important;}
.fW600{font-weight:600 !important;}
.fW700{font-weight:700 !important;}

