@charset "utf-8";

.baseBtn {border-radius: 0;}

.product_list {display:flex;flex-wrap: wrap;margin-top:-24px;}
.product_list>li {position:relative;width:calc(50% - 10px);margin-top:24px;}
.product_list>li .thumnail {position:relative;margin-bottom:6px;border-radius: 0;overflow: hidden;border: 1px solid #fff;font-size:0;overflow: hidden;border-bottom: 1px solid #004537;}
.product_list>li .thumnail:after {content:'';display:block;width:100%;padding-top:74.44%;}
.product_list>li .thumnail>img {position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);width:101%;height:101%;max-width:unset;object-fit: cover;transition:.6s transform, .6s filter}
.product_list>li:nth-child(odd) {margin-right: 20px;}
.product_list>li .info .made {color:#004537;font-size:12px;margin-bottom:3px;font-weight: 700;}
.product_list>li .info .tit {font-size:14px;font-weight: 600;line-height: 18px;}
.product_list>li .info .priceArea {display:flex;margin-top:3px;}
.product_list>li .info .priceArea .rate {color:#D7B15E;font-size:15px;font-weight: 600;}
.product_list>li .info .price_before {margin-bottom:-7px;margin-top:2px;color:#b7b7b7;font-size:12px;text-decoration:line-through;}
.product_list>li .info .price {font-size:15px;font-weight:600;margin-right: 5px;}
.product_list>li .thumnail .btn_like {position: absolute;top:10px;right:10px;width:25px;height:25px;background:url(../../common/img/layout/btn_heart_w.svg) no-repeat center;background-size: 25px auto;z-index: 5;}
.product_list>li .thumnail .btn_like.on {background-image: url(../../common/img/layout/btn_heart_on.svg);}
.product_list>li .status {position:absolute;width:100%;height:100%;left:0;top:0;background-color: rgba(0,0,0,0.5);display:flex;align-items: center;justify-content: center;}
.product_list>li .status .status_tit {color:#fff;}
.product_list .tagArea {display:flex;gap:2px;margin-top:10px;flex-wrap: wrap;}
.product_list .tagArea>p {font-size:12px;padding:1px 5px;text-align: center;border:1px solid #111;border-radius: 5px;}
.product_list .tagArea>p.tag_deli {padding-left:28px;background:url(../../common/img/layout/ico_car.svg) no-repeat left 7px top 6px;background-size: 18px auto;}

.productDetail .swiperThumnail {position:relative;height:calc(45vh + 52px);text-align: center;}
.productDetail .swiperThumnail:before {content:'';display:block;position:absolute;width:100%;left:0;width:100%;height:48px;background:linear-gradient(180deg,rgba(0,0,0,.3) 0%,rgba(0,0,0,.15) 37.5%,rgba(0,0,0,0) 100%);z-index: 20;}
.productDetail .swiperThumnail .swiper-slide img {width:100%;height:100%;aspect-ratio:375 / 220;object-fit: cover;}
.productDetail .swiperThumnail .pagination_fraction {position:absolute;width:auto;bottom:10px;left:50%;display:inline-block;background:rgba(0,0,0,0.7);border-radius: 15px;font-size:13px;color:#fff;z-index: 10;padding:2px 13px;transform: translateX(-50%);}
.productDetail .swiperThumnail .pagination_fraction span {color:#fff;}
.productDetail .productInfo {padding:20px 15px;border-bottom: 1px solid #004537;display:block;border-top:2px solid #004537}
.productDetail .productInfo .made {color:#004537;font-size:13px;margin-bottom:5px;font-weight: 700;}
.productDetail .productInfo .tit {font-size:15px;font-weight: 500;line-height: 20px;}
.productDetail .productInfo .priceArea {display:flex;margin-top:3px;}
.productDetail .productInfo .priceArea .rate {color:#D7B15E;font-size:16px;font-weight: 600;}
.productDetail .productInfo .price_before {margin-bottom:-7px;margin-top:5px;color:#b7b7b7;font-size:13px;text-decoration:line-through;}
.productDetail .productInfo .price {font-size:16px;font-weight:600;margin-right: 5px;}
.productDetail .productInfo .tagArea {display:flex;gap:5px;margin-top:10px;flex-wrap: wrap;}
.productDetail .productInfo .tagArea>p {font-size:10px;padding:2px 7px;text-align: center;background:#004537;color:#fff;}
.productDetail .productInfo .tagArea>p.tag_deli {padding-left:25px;background:#D7B15E url(../../common/img/layout/ico_car.svg) no-repeat left 7px top 6px;background-size: 13px auto;}
.productDetail .productInfo .btmInfo {margin-top:10px;display:flex;align-items: center;justify-content: space-between;flex-wrap: wrap;gap:5px;}
.productDetail .productInfo .btmInfo .cateG {display:flex;align-items: center;}
.productDetail .productInfo .btmInfo .cateG>p {position:relative;font-size:12px;color:var(--color-blue)}
.productDetail .productInfo .btmInfo .cateG>p+p {padding-left:10px;}
.productDetail .productInfo .btmInfo .cateG>p+p:before {content:'';display:block;position:absolute;left:5px;top:50%;width:2px;height:2px;margin-top:-1px;border-radius: 50%;background:var(--color-gray-lv7);}
.productDetail .productInfo .btmInfo .stateG {display:flex;align-items: center;}
.productDetail .productInfo .btmInfo .stateG>span {font-size:12px;color:#004537;padding-left:19px;background:url(../img/layout/ico_view_s.svg) no-repeat left 0 top 50%;}
.productDetail .productInfo .btmInfo .stateG>span+span {margin-left:10px;padding-left:15px;}
.productDetail .productInfo .btmInfo .stateG>span.view {background-image:url(../img/layout/ico_view_s.svg);}
.productDetail .productInfo .btmInfo .stateG>span.like {background-image:url(../img/layout/ico_like_s.svg);}
.productDetail .productInfo .btmInfo .stateG>span.talk {background-image:url(../img/layout/ico_talk_s.svg);}
.productDetail .productScript {padding:20px 15px 44px;}
.productDetail .sellerInfo {padding:20px 15px 0 15px;}
.sellerInfo .seller {display:flex;align-items: center;gap:10px;}
.sellerInfo .seller .profile {border-radius: 50%;width:50px;height:50px;}
.sellerInfo .seller .profile img {width:100%;height:100%;object-fit: cover;}
.sellerInfo .seller .name {font-weight: 600;}
.productDetail .moreProduct {padding:20px 15px;}
.productDetail .moreProduct .moreTit {display:block;width:100%;background:url(../img/layout/ico_arrR_go.svg) no-repeat top 50% right 0;font-weight: 600;}
.productDetail .moreProduct .moreTit span {color:#D7B15E}
.productDetail .moreProduct .product_list {margin-top:0;}

.findID .writeList_v .txtLink_s {display:block;margin-top:10px;text-align: right;}

.notiTxt {margin-bottom: 30px;}

.btn_eye {position:absolute;right:20px;top:50%;width:20px;height:20px;margin-top:-10px;background:url(../img/layout/ico_eye_on.svg) no-repeat center;}
.btn_eye.off {background-image:url(../img/layout/ico_eye_off.svg)}

.agreeBox .agreeAll {padding:10px;margin-bottom: 20px;background:#eee}
.agreeBox .agreeAll .inputBox>.data {font-weight: 700;}
.agreeBox .agreeList .inputBox {position:relative;display:block;}
.agreeBox .agreeList .inputBox .txtLink_s {position:absolute;top:50%;transform: translateY(-50%);right:0;}
.agreeBox .agreeList .inputBox+.inputBox {margin-top:15px;}
.agreeBox .agreeList .smallAgree {display:flex;gap:20px;padding-left:34px;margin-top:5px;}
.agreeBox .agreeList .smallAgree .inputBox+.inputBox {margin-top:0;}

.groupCont>.division+.division {margin-top:35px;}
.groupCont .division .headLine4 {position:relative;display:block;margin-bottom: 15px;color:#004537}
.groupCont .division .headLine4 .txtLink_s {position:absolute;right:0;top:50%;transform:translateY(-50%);text-decoration: underline;font-weight: 400;}
.groupCont .division .txtBody1+.txtBody1 {margin-top:7px;}
.groupCont .division .txtBody1+.headLine5 {margin-top:15px;}
.groupCont .division .txtList+.headLine5 {margin-top:15px;}
.groupCont .division .headLine5+.contTable {margin-top:10px;}
.groupCont .division .txtList+.txtBody1 {margin-top:10px;}
.groupCont .division .headLine5+.txtList {margin-top:10px;}
.groupCont .division .headLine5+.txtBody1 {margin-top:10px;}
.groupCont .division .contTable+.headLine5 {margin-top:25px;}
.groupCont .division .contTable+.txtBody1 {margin-top:25px;}
.groupCont .division .txtBody1+.txtList {margin-top:10px;}
.groupCont .division .txtBody1+.contTable {margin-top:10px;}
.underTxt {color:var(--color-blue);text-decoration: underline !important;display:inline-block;margin-top:10px;}

.totalSch .tagArea {display:flex;gap:10px;flex-wrap: wrap;}
.totalSch .tagArea>a {padding:5px 15px;text-align: center;}
.totalSch .groupCont .division .headLine4 .txtLink_s {text-decoration: none;}
.totalSch .tagArea {display:block;white-space: nowrap;overflow-x: auto;overflow-y: hidden;font-size: 0;}
.totalSch .tagArea>a {display:inline-block;height:30px;padding:0 10px;line-height: 30px;border:1px solid #004537;font-size: 15px;border:1px solid #004537;vertical-align: top;margin-right: 10px;color:#004537}

.searchWordList>ul {display:flex;flex-wrap: wrap;align-items: center;}
.searchWordList>ul>li {width:100%;border-bottom: 1px solid #D9D9D9;}
.searchWordList>ul>li:nth-child(n+2) {margin-top:10px}
.searchWordList>ul>li>a {display:flex;display:flex;align-items: center; }
.searchWordList>ul>li .num {width:30px;font-weight:700;font-size: 18px;color: var(--color-blue);}

.alarmList>ul>li {padding-left:65px;background: url(../img/layout/ico_bell.svg) no-repeat left 0 top 0px;}
.alarmList>ul>li+li {margin-top:20px;}
.alarmList>ul>li .txtBody2 {display:block;margin-top:3px;font-size:13px;color:var(--color-gray-lv7);}
.alarmList>ul>li .txtBody1 {line-height: 22px;}

.settingList>li {position:relative;padding:10px 0;}
/* .settingList>li:first-child:before {content:'';display:block;width:calc(100% + 30px);height:1px;background:var(--color-gray-lv4);position:absolute;left:-15px;top:0;} */
/* .settingList>li:after {content:'';display:block;width:calc(100% + 30px);height:1px;background:var(--color-gray-lv4);position:absolute;left:-15px;bottom:0;} */
.settingList>li .txtBody3 {color:var(--color-gray-lv7);display:block;margin-top:3px;}
.settingList>li .headLine5 {color:#004537;font-weight: 500;}

.settingList.typeToggle>li .toggle {position:absolute;right:0;top:50%;transform: translateY(-50%);}
.settingList>li .arrR {display:block;color:#004537;font-weight: 500;background: url(../img/layout/ico_arrR_go.svg) no-repeat top 50% right 0;padding-right: 50px;background-size: 10px auto;}

.settingList .AccordionBase {border-top:0}
.settingList .AccordionBase>li {border-bottom: 0;}
.settingList .AccordionBase>li.on {background:none;}
.settingList .AccordionBase>li .AccordionBtn {padding:0;}
.settingList .AccordionBase>li .AccordionBtn>span {font-weight: 600;}
.settingList .AccordionBase>li .AccordionCont {padding:0;background:none;border-top:0;padding-top:5px;padding-left:15px;}
.settingList .AccordionBase>li .AccordionCont .inputBox {width:100%;padding: 7px 0;;}

.reportSelect .settingList>li {border-bottom: 1px solid rgba(0,0,0,0.5);}
.reportSelect .settingList>li .arrR {color:#004537;font-weight: 500;}
.reportReason .txtBody1 {font-weight: 700;color:#004537}
.reportReason textarea {margin-top:10px;display:block;}

.writeList_v  .headLine3 {color:#004537}
.writeList_v .registerArea {position:relative;width:65px;height:65px;border-radius: 5px;border:1px solid var(--color-gray-lv4)}
.writeList_v .registerArea .btnUpload {position:absolute;width: 100%;height: 100%;cursor: pointer;background: url(../img/layout/ico_camera.svg) no-repeat top 13px left 50%;}
.writeList_v .registerArea .btnUpload .status {text-align: center;font-size: 13px;display: block;padding-top:35px;}
.writeList_v .registerArea #file {display: none;}
.writeList_v .photoList .photo {position:relative;width:65px;height:65px;border-radius: 5px;border:1px solid var(--color-gray-lv4);font-size: 0;align-items: flex-start;}
.writeList_v .photoList .photo .btnDelete {position:absolute;right:-5px;top:-5px;display:block;width:16px;height:16px;background:url(../img/layout/ico_close_s.svg) no-repeat center}
.writeList_v .photoList .photo img {position:absolute;left:50%;top:50%;transform: translate(-50%, -50%);width:100%;height:100%;object-fit: cover;border-radius: 5px;}
.writeList_v .photoList {display:flex;gap:10px;display: flex;gap: 10px;flex-wrap: nowrap;overflow-x: auto;padding-top:5px;}
.writeList_v>ul.photoList>li+li {margin-top:0;}
.inputWrap button.inputBase.typeGo {background-color: #fff;padding:0 16px;text-align: left;border:1px solid var(--color-blue)}

.categorySelect .inputBox+.inputBase {margin-top:15px;}
.categorySelect .settingList>li:last-child:after {display:none;}

.setting .settingList>li {padding:5px 0;}

.talkList>li+li {margin-top:20px}
.talkList>li>a {display:flex;align-items: center;}
.talkList>li>a .productThum {position:relative;width:50px;height:50px;border-radius: 10px;font-size: 0;overflow: hidden;}
.talkList>li>a .productThum img {position:absolute;width:100%;height:100%;object-fit: cover;}
.talkList>li>a .profile {position:relative;width:60px;height:60px;border-radius: 10px;font-size: 0;margin-right: 10px;border-radius: 50%;overflow: hidden;}
.talkList>li>a .profile img {position:absolute;width:100%;height:100%;object-fit: cover;}
.talkList>li>a .info {width:calc(100% - 130px);margin-right: 10px;}
.talkList>li>a .time {font-size: 12px;color:var(--color-gray-lv6);}
.talkList>li>a .name {display:block;font-weight: 600;margin-top: -3px;}
.talkList>li>a .txt {font-size: 13px;white-space: pre;overflow: hidden;text-overflow: ellipsis;width:calc(100% - 10px);color:var(--color-gray-lv8);}

#popUtil .settingList {padding:0px 0 0 0;}
#popUtil .settingList>li {padding:20px 0}
#popUtil .settingList>li:last-child:after {display:none;}

.talkDetail .productInfo {padding: 0 0 20px 0;display:flex;width:100%;background-color: #fff;z-index: 10;top:56px;left:0;padding:15px 0 15px 0;;flex-wrap: wrap;margin-top:-24px;}
.talkDetail .productInfo .deal {position:Relative;width:100%;padding-bottom: 15px;}
.talkDetail .productInfo:before {content:'';display:block;width:calc(100% + 30px);height:1px;background:var(--color-gray-lv4);position:absolute;left:-15px;bottom:0;}
.talkDetail .productInfo .deal {position:relative;padding-top:15px;display:flex;justify-content: space-between;align-items: center;}
.talkDetail .productInfo .deal:before {content:'';display:block;width:calc(100% + 30px);height:1px;background:var(--color-gray-lv4);position:absolute;left:-15px;top:0;}
.talkDetail .productInfo .deal:after {content:'';display:block;width:calc(100% + 30px);height:1px;background:var(--color-gray-lv4);position:absolute;left:-15px;bottom:0;}
.talkDetail .productInfo .chat {font-size: 14px;font-weight: 500;flex:1;padding-right: 15px;;}
.talkDetail .productInfo .btn {display:flex;gap:5px;}
.talkDetail .productInfo .btn .baseBtn>span {padding:0 8px;}


.productInfo .thumnail {position:relative;width:60px;height:60px;margin-bottom:6px;border-radius: 10px;overflow: hidden;border: 1px solid #dfdfdf;font-size:0;overflow: hidden;margin-right: 10px;}
.productInfo .thumnail>img {position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);width:100%;height:100%;max-width:unset;object-fit: cover;transition:.6s transform, .6s filter}
.productInfo .info {flex:1;padding-right: 100px;padding-bottom: 25px;}
.productInfo .info .baseBtn.small {width:80px;margin-top:5px;position:absolute;right:15px;top:10px;}
.productInfo .info .selectBase {height: 35px;font-size: 13px;width:80px;padding-left:10px;padding-right: 20px;background-size: 10px auto;background-position: right 8px top 50%;position:absolute;right:15px;top:10px;}
.productInfo .info .baseBtn.small~.selectBase {top:55px;}
.productInfo .info .baseBtn.small>span {padding:0 5px;}
.productInfo .made {color:#004537;font-size:12px;margin-bottom:5px;font-weight: 700;}
.productInfo .tit {font-weight: 600;line-height: 18px;}
.productInfo .priceArea {display:flex;margin-top:3px;}
.productInfo .priceArea .rate {color:#D7B15E;font-size:15px;font-weight: 600;}
.productInfo .price_before {margin-bottom:-7px;margin-top:2px;color:#b7b7b7;font-size:12px;text-decoration:line-through;}
.productInfo .price {font-size:15px;font-weight:600;margin-right: 5px;}

.dealInfo {position:sticky;top:0;left:0;}
.dealInfo .chat {background: #81c147 !important;color: #fff;font-weight: 500;padding: 10px 20px;border-radius: 20px;}
.dealInfo .btn {width: 100%;display: flex;gap: 5px;}

#chatDock {display:flex;align-items: center;}
#chatDock .fileImg {position:relative;width:25px;height:25px;}
#chatDock .fileImg .btnUpload {position:absolute;width: 100%;height: 100%;cursor: pointer;background: url(../img/layout/ico_fileImg.svg) no-repeat center}
#chatDock .fileImg .btnUpload .status {text-align: center;font-size: 13px;display: block;padding-top:35px;}
#chatDock .fileImg #file {display: none;}
#chatDock .inpArea {flex:1;margin:0 10px}
#chatDock .inpArea input {width:100%;height:35px;border-radius: 25px;background:var(--color-gray-lv4);color:var(--color-gray-lv8);font-weight: 600;padding:15px;border:0;}
#chatDock .inpArea input::placeholder {color:var(--color-gray-lv8);} 
#chatDock .btnSend {display:block;width:25px;height:25px;background:url(../img/layout/ico_send.svg) no-repeat center;position: relative}

.chatArea {padding-top:30px;}
.chatArea .chatWrap {max-height: calc(100vh - 340px);overflow-y: auto;}
.chatArea .msgContainer {display:flex;flex-direction: column;}
.chatArea .date {text-align: center;font-size: 13px;color:var(--color-gray-lv8);margin-bottom: 20px;}
.chatArea .msg {display:flex;width:100%;gap: 5px;align-items: end;flex-wrap: wrap;}
.chatArea .msg+.msg {margin-top:25px;}
.chatArea .msg.sent+.msg.sent {margin-top:10px;}
.chatArea .msg.received+.msg.received {margin-top:10px;}
.chatArea .msg.sent {justify-content: end;flex-direction: row-reverse;}
.chatArea .msg.sent .chat {background:#004537;color:#fff;}
.chatArea .msg .chat {padding:5px 15px;border-radius: 20px;background:#fff;max-width: 75%;display:flex;align-items: center;border:1px solid #004537}
.chatArea .msg .info span {display:block;font-size: 12px;color:var(--color-gray-lv8);}
.chatArea .msg .msgImg {font-size: 0;padding:5px 0;}
.chatArea .msg .msgImg img {max-width: 100px;}
.chatArea .date:nth-of-type(n+2) {margin-top:30px;}
.chatArea .schedule .chat {background:#D7B15E !important;color:#fff;font-weight: 500;padding:10px 20px;border:0;}
.chatArea .msg  .btn {width:100%;display:flex;gap:5px;}
.chatArea .msg  .btn .baseBtn>a {flex:1;}
.paymentInfo>ul {display:flex;border-radius: 5px;gap:8px;flex-wrap: wrap;}
.paymentInfo>ul>li {width:calc(50% - 4px)}
.paymentInfo>ul>li.full {width:100%;}
.paymentInfo>ul>li button {display:flex;width:100%;height:60px;border:1px solid var(--color-gray-lv4);align-items: center;justify-content: center;border-radius: 5px;font-weight: 600;}
.paymentInfo>.selectBase {margin-top:20px;}
.paymentInfo .linkTxt {color: var(--color-gray-lv8);background: url(../img/layout/ico_arrR_go.svg) no-repeat right 0 top 50%;padding-right: 13px;background-size: 7px auto;display: inline-block;width: auto;margin-top:5px;}

.deliveryWrite {padding-bottom: 150px;}
.deliveryWrite .productInfo .thumnail {width:70px;height:70px;}
.deliveryWrite .groupCont>.division {position:relative;}
.deliveryWrite .groupCont>.division+.division {padding-top:35px;margin-top:20px;}
.deliveryWrite .groupCont>.division+.division:before {content:'';display:block;width:calc(100% + 30px);height:1px;background:var(--color-gray-lv4);position:absolute;left:-15px;top:0;}
.productInfo {display:flex;}
.productInfo .info {flex:1;}
.deliveryWrite .paymentArea  .payment {display:flex;justify-content: space-between;align-items: center;}
.deliveryWrite .paymentArea  .payment+.payment {margin-top:10px;}

input[type='date']:focus::before,
input[type='date']:valid::before {display: none;}

.btn_help {position:relative;display:inline-block;width:17px;height:17px;vertical-align: middle;background:url(../img/layout/ico_help.svg) no-repeat center;margin:0 3px;}

.typeLogin {background:#fff}
.typeLogin #contents {padding-bottom: 0;}
.typeLogin #contents>article {min-height: 100vh;min-height: 100dvh;}
.typeLogin #container {padding-top:0}
.typeLogin .login {height: calc(80vh - 30px)}
.typeLogin .loginTxtArea {height: 100%;display:flex;justify-content: center;flex-direction: column;}
.typeLogin .loginTxt_lv1 {font-size: 18px;color:var(--color-gray-lv8);margin-bottom: 10px;text-align: center;letter-spacing: -.5px;font-weight: 500;}
.typeLogin .loginTit {font-size: 18px;line-height:25px;font-weight: 400;letter-spacing: -0.2px;text-align: center;color:#004537;margin-top:40px;}
.typeLogin .loginTit b {font-weight: 700;}
.typeLogin .logo_img {width:112px;margin:0 auto;display:block;}
.typeLogin .loginTit img {height: 46px;position: relative;top:11px;margin-right: 5px;}
.typeLogin .loginTit span {color:var(--color-blue);font-weight: 800;}

.typeLogin .inputBase {border-radius: 0;background:#f5f5f5;}

#login_dock {position:fixed;bottom:0;left:0;right:0;z-index: 99;display:flex;flex-direction: column;padding:10px 15px 15px 15px;box-sizing: border-box;background:#fff;}
#login_dock .btnArea {display:flex;width:100%;font-size: 0;gap:10px;align-items: center;margin-top:10px;flex-direction: column;flex-wrap: wrap;}
#login_dock .baseBtn.apple {background:#111;}
#login_dock .baseBtn.apple>.base {color:#fff;}
#login_dock .baseBtn.apple i {width:17px;margin-right:7px;position:relative;top:1px;}
#login_dock .baseBtn.lineBlack {color:#004537;border:1px solid #004537;text-align: center;}
#login_dock .baseBtn.lineBlack>.base {display:inline-block;color:#004537;padding-right: 19px;background:url(../img/layout/login_arrR.svg) no-repeat right 0 top 19px;width:auto;line-height: 50px;}

#pop_login {}
#pop_login .popInnerCont {padding-bottom: 40px;}
#pop_login .btnArea {margin-top:30px;display: flex;flex-direction: column;gap: 15px;}
#pop_login .etcUtil {display:flex;justify-content: space-between;align-items: center;}
#pop_login .etcUtil .findArea>a:first-child {position:relative;margin-right: 5px;padding-right: 10px;}
#pop_login .etcUtil .findArea>a:first-child::before {content:'';display:block;position: absolute;right: 0;top:3px;width:1px;height:12px;background-color: var(--color-gray-lv6);}
#pop_login .addLogin {margin-top:40px;}
#pop_login .add_login_tit {position:relative;text-align: center;color: var(--color-gray-lv7);}
#pop_login .add_login_tit::before {content:'';display:block;position: absolute;width:100%;height: 1px;background:var(--color-gray-lv6);top:50%;margin-top:-.5px;left:0;}
#pop_login .add_login_tit>span {display:inline-block;background:#fff;position: relative;z-index: 1;vertical-align: top;padding:0 15px;font-size: 15px;}

.snsLogin {display:flex;gap:15px;justify-content: center;margin-top:15px;}
.snsLogin button {display:block;width:50px;height:50px;background:#000;border-radius: 50%;}
.snsLogin .typeKaKao {background:#FEE500 url(../img/layout/kakao_s.svg) no-repeat center;background-size: 27px auto;}
.snsLogin .typeApple {background:#fff url(../img/layout/ico_apple.svg) no-repeat center;background-size: 53px auto;border:1px solid #000}


.myInfo .seller {display:flex;align-items: center;gap:10px;}
.myInfo .btn {margin-top:10px;}
.myInfo .seller .profile {border-radius: 50%;width:50px;height:50px;}
.myInfo .seller .profile img {width:100%;height:100%;object-fit: cover;}
.myInfo .seller .name {font-weight: 600;}

.myInfoList .tabList {position:relative;display:flex;align-content: center;margin-bottom: 30px;width:calc(100% + 30px);margin-left:-15px;}
.myInfoList .tabList>li {flex:1;text-align: center;border-bottom: 1px solid var(--color-gray-lv4);}
.myInfoList .tabList>li.on {background:#004537;;}
.myInfoList .tabList>li.on>a {font-weight: 600;color: #fff;}
.myInfoList .tabList>li>a {display:block;padding:7px 15px;}

.profile_modify {display:flex;align-items: center;justify-content: center;}
.profile_modify .btn {margin-top:10px;}
.profile_modify .profile {position:relative;border-radius: 50%;width:85px;height:85px;}
.profile_modify .profile .modify {position: absolute;bottom:-5px;right:-5px;width:30px;height:30px;background:var(--color-gray-lv2) url(../img/layout/ico_camera_gray.svg) no-repeat center;border-radius: 50%;background-size: 15px auto;border:2px solid #fff;}
.profile_modify .profile .modify input[type="file"] {position: absolute;width: 1px;height: 1px;padding: 0;margin: -1px;overflow: hidden;clip:rect(0,0,0,0);border: 0;}
.profile_modify .profile img {width:100%;height:100%;object-fit: cover;}
.profile_modify .name {font-weight: 600;}

.inputWrap.edit {display:flex;align-items: center;gap:7px;position:relative;}
.inputWrap.edit .btn_edit {color:#004537;display:flex;align-items: center;justify-content: center;font-size: 16px;position:Absolute;right:15px;}
.inputWrap.edit>input {display:flex;flex:1;padding-right: 50px;}

.connectSNS>ul>li>a {display:flex;justify-content: space-between;align-items: center;padding:10px 0;}
.connectSNS>ul>li>a span {font-size: 14px;padding-right: 15px;background: url(../img/layout/ico_arrR_go.svg) no-repeat right 0 top 50%;background-size: 8px auto;}
.connectSNS>ul>li>a.kakao .title {padding-left:30px;position:relative;font-size: 15px;font-weight: 600;}
.connectSNS>ul>li>a.kakao .title:before {content:'';display:block;width:20px;height:20px;border-radius:50%;position:absolute;left:0;top:0;background:#FEE500 url(../img/layout/kakao_s.svg) no-repeat center;background-size: 12px auto;}
.connectSNS>ul>li>a.apple .title {padding-left:30px;position:relative;font-size: 15px;font-weight: 600;}
.connectSNS>ul>li>a.apple .title:before {content:'';display:block;width:20px;height:20px;border-radius:50%;position:absolute;left:0;top:0;background:#fff url(../img/layout/ico_apple.svg) no-repeat center;background-size: 25px auto;border:1px solid #111}

.imgDetail {display:flex;flex-wrap:wrap;gap:10px;}
.imgDetail .img {position:relative;font-size: 0;}
.imgDetail .img {width:calc(50% - 5px);}
.imgDetail .img.full {width:100%;}
.imgDetail .img>a:after {content:'';display:block;width:100%;padding-top:74.44%;}
.imgDetail .img>a {display:block;position:relative;font-size: 0;}
.imgDetail .img>a>img {position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);width:100%;height:100%;max-width:unset;object-fit: cover;}

/* .typeProductDetail #header .header .go_prev {background-image:url(../../common/img/layout/ico_prev_white.svg);color:#fff;} */
.typeProductDetail #container {padding-top:56px !important}
#header .utilArea .btn_share {background-image:url(../../common/img/layout/ico_inbox.svg) !important;}
#header .utilArea .btn_more {background:url(../../common/img/layout/ico_more.svg)  no-repeat center;width:24px;height:24px;display:block;margin-left:10px;margin-top:2px;}

.pop_wrap.imgFullView {background-color:rgba(0,0,0,0.8) !important;}
.imgFullView .popLayout {background: none;max-width: 100%;width:100%;overflow: hidden;}
.imgFullView .popLayout .popConts .popInner {max-height: 100%;}
.imgFullView .popLayout .popConts~.btn_popClose {top:60px;right:60px;position:fixed;width:39px;height:39px;background:url(../img/layout/pop_view_close.svg) no-repeat center;z-index: 999;}

.imgFullView .swiperBtn .btnL {width:18px;background-size: 18px auto;left:20px;}
.imgFullView .swiperBtn .btnR {width:18px;background-size: 18px auto;right:20px;}
.imgFullView .popLayout .popConts~.btn_popClose {background-size: 30px auto;width:30px;height:30px;right:25px;top:25px;;}
.imgFullView .swiper-wrapper {align-items: center;}
.imgFullView .item {height:auto;max-height:81dvh;max-height: 81dvh;height:auto;padding:0 20px;}
.imgFullView .item img {max-width: 100%;height:auto;}
.imgFullView .txtG {display:flex;justify-content: center;align-items: center;}

.board_area {margin-top:-25px;}
.board_area.typeView {margin-top:0;}
.bbs_list{width:calc(100% + 30px);height:auto;margin-left:-15px;;margin-bottom:30px;}
.bbs_list>.default{width:100%;height:auto;border-top:1px solid var(--color-gray-lv4);}
.bbs_list>.default>li{padding:19px 15px;font-size:0;border-bottom:1px solid var(--color-gray-lv4);}
.bbs_list>.default>li .noticeTitle {display:block;}
.bbs_list>.default>li:first-child {border-top:0;}
.bbs_list>.default>li .infoArea .noticeTitle {display:block;font-size:0;}
.bbs_list>.default>li .infoArea .noticeTitle .notice{display:inline-block;width:39px;height:21px;margin-right:2px;border-radius: 13px;background: var(--color-blue);font-size:12px;color:#fff;line-height:21px;letter-spacing:0;vertical-align: middle;text-align: center;}
.bbs_list>.default>li .infoArea .noticeTitle>p{display:flex;align-items: center;font-size:16px;font-weight:600;overflow:hidden;text-overflow: ellipsis;display:inline-block;vertical-align:middle;max-width:calc(100% - 50px);line-height: 22px;display: inline-block;-webkit-box-orient: vertical;-webkit-line-clamp: 2;white-space: nowrap;overflow: hidden;}
.bbs_list>.default>li .infoArea .noticeInfo{margin-top:6px;font-size:0;}
.bbs_list>.default>li .infoArea .noticeInfo>span{position:relative;display:inline-block;font-size:12px;line-height:1rem;color:var(--color-gray-lv7);margin-right:10px;padding-right:11px;}

.lineList_v {width:calc(100% + 32px);margin-left:-16px;}
.lineList_v dt {position:relative;overflow:hidden;padding:0px 16px 18px 16px;}
.lineList_v dd {position:relative;padding:24px 16px 48px 16px;}
.lineList_v dd:before {content:'';position:absolute;left:0;top:0;display:block;width:calc(100% + 32px);height:1px;margin-left:-16px;background:#E3E3E3}

.lineList_v .txtL {display:block;padding:0px 0 8px 0;font-size:0;}
.lineList_v .txtL p{display:block;font-size:20px;color:var(--color-black);line-height:26px;font-weight:700;}
.lineList_v .txtInfo {display:flex;flex-wrap: wrap;align-items: center;font-size:0;text-align:left;}
.lineList_v .txtInfo>span {display:flex;align-items: center;position:relative;vertical-align:middle;font-size:16px;line-height:1em;padding-right:15px;margin-bottom:4px;}
.lineList_v .txtInfo>span.writer {display:block;width:100%;}
.lineList_v .txtInfo>span::after {content:'';position:relative;top:-1px;right: -5px;display:block;width:1px;height:10px;margin-left:9px;box-sizing:border-box;background:#d9d9d9;}
.lineList_v .txtInfo>span.writer:after {display:none;}
.lineList_v .txtInfo>span:last-child {margin-right:0;padding-right:0;}
.lineList_v .txtInfo>span:last-child::after {display:none;}
.lineList_v .txtInfo>span>em{font-style:normal;display:inline-block;vertical-align:middle;font-size:12px;}
.lineList_v .txtInfo>span>em.name{margin-right:2px;}
.lineList_v .txtInfo>span.date>em.name {margin-right: 6px;}
.lineList_v .txtInfo>span.view>em.name {margin-right: 8px;}
.lineList_v .txtInfo>span>em.data{color:var(--color-gray-lv7);}
.lineList_v .txtInfo + .txtInfo{margin-top:7px;}

.contGroup .division .headLine3 {margin-bottom: 20px;word-break: keep-all;}
.contGroup .division .headLine5 {margin-bottom: 10px;word-break: keep-all;margin-top:25px;}
.contGroup .division .headLine5+.txtBody1 {margin-top:0 !important;}
.contGroup .division .txtBody1 {word-break: keep-all;font-weight: 500;}
.contGroup .division .txtBody1~.txtBody1 {margin-top:20px;}

.conpanyInfo .btnArea {margin-top:30px;}
.conpanyInfo .contGroup .division .headLine5 {position:relative;padding-left:10px;}
.conpanyInfo .contGroup .division .headLine5:before {content:'';display:block;width:4px;height:4px;border-radius: 50%;background:var(--color-blue);position: absolute;left:0;top:8px;}
footer {position:relative;max-width: var(--layout-size);width:100%;padding:30px 15px 35px 15px;margin:0 auto;background:#F2F3F5;} /* 0327 */

footer .f_link {margin-bottom: 20px;}
footer .f_link .f_menu {display:flex;align-items: center;flex-wrap: wrap;}
footer .f_link .f_menu>li {position:relative;display:flex;align-items: center;}
footer .f_link .f_menu>li:first-child>a {padding-left:0;}
footer .f_link .f_menu>li>a {padding:0 17px;font-size:16px;color:var(--color-black);} 
footer .f_link .f_menu>li+li:before {content:'';display:block;width:1px;height:16px;background:rgba(0,0,0,0.3);}
footer .f_link .f_menu>li.point>a {font-weight: 700;}

footer address p {font-size: 15px;color:#666;line-height: 20px;font-style: normal;}
footer address p b,
footer address p span {display:block;font-size: 13px;word-break: keep-all;}
footer address p span {font-size:13px;}
footer address p>b+span {margin-top:12px;}

footer .f_logo {display:flex;margin-top:24px;align-items: center;gap:10px;}
footer .f_logo .cq-net {width:104px;}
footer .f_logo .accessibility {width:64px;}

.list_right {margin-top:15px;margin-bottom: 20px;}
.list_right li {display:flex;align-items: flex-start;}
.list_right li+li {margin-top:15px;}
.list_right li .tit {font-size: 18px;font-weight: 700;}
.list_right i {width:43px;height:43px;background: rgba(0, 69, 55, 0.2);border-radius: 50%;display:flex;align-items: center;justify-content: center;margin-right: 15px;;}
.list_right .txtBody1 {color:#666}


.iconB{position:relative;width:18px;height:18px;display:inline-block;vertical-align:middle;}
.iconB.new{background:url(../img/layout/icon_new.png) no-repeat center center;background-size: 100% auto;margin-left:8px;margin-bottom: 2px;}

/* admin */
.admin-home .home-area {position: relative;margin-top:-25px;}
.admin-home .home-area:before {content:'';display:block;width:calc(100% + 30px);height:1px;background:#efefef;position:absolute;left:-15px;bottom:0;}
.admin-home .location {display:flex;flex-wrap:wrap;background:url(../img/layout/ico_location.svg) no-repeat left 0 top 12px;background-size: 18px auto;padding:15px 0;padding-left:25px;font-weight: 700;font-size: 16px;gap:10px;align-items: center;}
.admin-home .location .c_Gray {color:var(--color-gray-lv8);font-size: 12px;font-weight: 500;}
.product-admin .product_list {margin-top:0;}
.product-admin .product_list>li {width:100%;position:relative;padding-bottom: 25px;padding-top:25px;}
.product-admin .product_list>li:first-child {padding-top:0;}
.product-admin .product_list>li:last-child::before {display:none;}
.product-admin .product_list>li:before {content:'';display:block;width:calc(100% + 30px);height:1px;background:#efefef;position:absolute;left:-15px;bottom:0;}
.product-admin .product_list>li:nth-child(odd) {margin-right: 0;}
.product-admin .product_list>li .categ {color:#555;font-size: 12px;margin:3px 0;}
.product-admin .product_list>li>a {display:flex;gap:15px;margin-bottom: 10px;}
.product-admin .product_list>li .thumnail:after {display:none;}
.product-admin .product_list>li .thumnail {width:70px;height:70px;}
.product-admin .product_list>li .info {flex:1;justify-content: flex-end;}
.product-admin .product_list>li .btn .baseBtn {height:40px;}
.product-admin .product_list>li .btn .baseBtn>.base {font-size: 14px;}
.product-admin .delivery-info .start,
.product-admin .delivery-info .end {position:relative;display:flex;align-items: flex-start;gap:15px;}
.product-admin .delivery-info .start:before {content:'';position:absolute;left:8px;top:26px;width:7px;height:7px;background:var(--color-blue);border-radius: 50%;}
.product-admin .delivery-info .start:after {content:'';position:absolute;left:11px;top:26px;width:1px;height:calc(100% - 20px);background:var(--color-blue);}
.product-admin .delivery-info .end:before {content:'';position:absolute;left:8px;top:0px;width:7px;height:7px;background:var(--color-blue);border-radius: 50%;}
.product-admin .delivery-info .end {padding-top:10px;}
.product-admin .delivery-info .detail {flex:1;}
.product-admin .delivery-info .detail .daddress {font-size: 14px;}
.product-admin .delivery-info .detail .date {font-size: 13px;color:var(--color-gray-lv8)}
.product-admin .delivery-info .info-tit {font-weight: 700;}
.product-admin .delivery-info .info-tit {font-size: 15px;}


.product-admin .delivery-btn {margin-top:10px;}
.product-admin .delivery-btn .info {display:flex;gap:10px;align-items: center;justify-content: center;}
.product-admin .delivery-btn .info .price {font-size: 20px;font-weight: 700;color:var(--color-blue);text-align: center;margin-right: 0;}
.product-admin .delivery-btn .info .distance {font-size: 13px;color:var(--color-gray-lv8);}
.product-admin .delivery-btn .btn {margin-top:10px;display:flex;gap: 7px;}


#btnDock.admin-price {display:flex;flex-wrap: wrap;height:115px;}
#btnDock.admin-price .delivery-btn {width:100%;display:flex;justify-content: space-between;align-items: center;margin-bottom: 10px;}
#btnDock.admin-price .delivery-btn .tit {font-weight: 700;font-size: 15px;}
#btnDock.admin-price .delivery-btn .info {display:flex;gap:10px;align-items: center;justify-content: center;}
#btnDock.admin-price .delivery-btn .price {font-size: 20px;font-weight: 700;color:var(--color-blue);text-align: center;margin-right: 0;}
#btnDock.admin-price .delivery-btn .distance {font-size: 13px;color:var(--color-gray-lv8);}

.admin .typeProductDetail #contents {padding-bottom: 115px;}

.admin .myInfoList .product-admin .product_list>li {margin-top:0;}
.admin .myInfoList .product-admin .product_list>li:first-child {margin-top:0;}

.sales-revenue .sales-box {padding:15px 30px;border-radius: 15px;display:flex;flex-direction: column;align-items: center;justify-content: center;background:var(--color-gray-lv3);}
.sales-revenue .sales-box .tit {font-weight: 600;font-size: 14px;}
.sales-revenue .sales-box .price {font-weight: 700;font-size: 20px;color:var(--color-blue);}
.sales-list {position:relative;margin-top:30px;}
.sales-list:before {content:'';display:block;width:calc(100% + 30px);height:1px;background:#efefef;position:absolute;left:-15px;top:0;}
.sales-list li {position:relative;padding:15px 0;}
.sales-list li:before {content:'';display:block;width:calc(100% + 30px);height:1px;background:#efefef;position:absolute;left:-15px;bottom:0;}
.sales-list li .date {font-size: 12px;color:var(--color-gray-lv8);margin-bottom: 10px;}
.sales-list li .history {display:flex;justify-content: space-between;align-items: flex-start;gap:15px;}
.sales-list li .info {font-weight: 700;flex:1;}
.sales-list li .price {font-weight: 700;}

.blockList {position:relative;margin-top:-25px;}
.blockList:before {content:'';display:block;width:calc(100% + 30px);height:1px;background:#efefef;position:absolute;left:-15px;top:0;}
.blockList>li {display:flex;justify-content: space-between;align-items: center;}
.blockList>li {position:relative;padding:15px 0;}
.blockList>li:before {content:'';display:block;width:calc(100% + 30px);height:1px;background:#efefef;position:absolute;left:-15px;bottom:0;}
.blockList>li .seller {display:flex;gap:10px;align-items: center;flex:1;}
.blockList>li .seller .name {font-weight: 700;flex:1;padding-right: 15px;;}
.blockList>li .profile {font-size: 0;}
.blockList>li .profile img {width:50px;height:50px;border-radius: 50%;overflow: hidden;}
.blockList>li .btn .baseBtn {height:35px;border-radius: 0px;}
.blockList>li .btn .baseBtn>span {font-size: 14px;padding:0 10px;}