@charset "utf-8";

.product_list {display:flex;flex-wrap: wrap;margin-top:-24px;}
.product_list>li {position:relative;width:calc(50% - 10px);margin-top:24px;}
.product_list>li .thumnail {position:relative;margin-bottom:6px;border-radius: 10px;overflow: hidden;border: 1px solid #dfdfdf;font-size:0;overflow: hidden;}
.product_list>li .thumnail:after {content:'';display:block;width:100%;padding-top:74.44%;}
.product_list>li .thumnail>img {position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);width:100%;height:100%;max-width:unset;object-fit: cover;transition:.6s transform, .6s filter}
.product_list>li:nth-child(odd) {margin-right: 20px;}
.product_list>li .info .made {color:#555;font-size:12px;margin-bottom:0px;}
.product_list>li .info .tit {font-size:14px;font-weight: 600;line-height: 18px;}
.product_list>li .info .priceArea {display:flex;margin-top:3px;}
.product_list>li .info .priceArea .rate {color:#2168F5;font-size:15px;font-weight: 600;}
.product_list>li .info .price_before {margin-bottom:-7px;margin-top:2px;color:#b7b7b7;font-size:12px;text-decoration:line-through;}
.product_list>li .info .price {font-size:15px;font-weight:600;margin-right: 5px;}
.product_list>li .thumnail .btn_like {position: absolute;top:10px;right:10px;width:25px;height:25px;background:url(../../common/img/layout/btn_heart_w.svg) no-repeat center;background-size: 25px auto;z-index: 5;}
.product_list>li .thumnail .btn_like.on {background-image: url(../../common/img/layout/btn_heart_on.svg);}
.product_list>li .status {position:absolute;width:100%;height:100%;left:0;top:0;background-color: rgba(0,0,0,0.5);display:flex;align-items: center;justify-content: center;}
.product_list>li .status .status_tit {color:#fff;}

.productDetail .swiperThumnail {position:relative;height:calc(45vh + 52px);text-align: center;}
.productDetail .swiperThumnail:before {content:'';display:block;position:absolute;width:100%;left:0;width:100%;height:48px;background:linear-gradient(180deg,rgba(0,0,0,.3) 0%,rgba(0,0,0,.15) 37.5%,rgba(0,0,0,0) 100%);z-index: 20;}
.productDetail .swiperThumnail .swiper-slide img {width:100%;height:100%;aspect-ratio:375 / 220;object-fit: cover;}
.productDetail .swiperThumnail .pagination_fraction {position:absolute;width:auto;bottom:10px;left:50%;display:inline-block;background:rgba(0,0,0,0.7);border-radius: 15px;font-size:13px;color:#fff;z-index: 10;padding:2px 13px;transform: translateX(-50%);}
.productDetail .swiperThumnail .pagination_fraction span {color:#fff;}
.productDetail .productInfo {padding:20px 15px;border-bottom: 1px solid var(--color-gray-lv4);display:block;}
.productDetail .productInfo .made {color:#555;font-size:13px;margin-bottom:5px;}
.productDetail .productInfo .tit {font-size:18px;font-weight: 600;line-height: 18px;}
.productDetail .productInfo .priceArea {display:flex;margin-top:3px;}
.productDetail .productInfo .priceArea .rate {color:#2168F5;font-size:16px;font-weight: 600;}
.productDetail .productInfo .price_before {margin-bottom:-7px;margin-top:5px;color:#b7b7b7;font-size:13px;text-decoration:line-through;}
.productDetail .productInfo .price {font-size:16px;font-weight:600;margin-right: 5px;}
.productDetail .productInfo .tagArea {display:flex;gap:5px;margin-top:10px;}
.productDetail .productInfo .tagArea>p {font-size:12px;padding:2px 7px;text-align: center;border:1px solid #111;border-radius: 15px;}
.productDetail .productInfo .btmInfo {margin-top:10px;display:flex;align-items: center;justify-content: space-between;}
.productDetail .productInfo .btmInfo .cateG {display:flex;align-items: center;}
.productDetail .productInfo .btmInfo .cateG>p {position:relative;font-size:12px;color:var(--color-gray-lv7);}
.productDetail .productInfo .btmInfo .cateG>p+p {padding-left:10px;}
.productDetail .productInfo .btmInfo .cateG>p+p:before {content:'';display:block;position:absolute;left:5px;top:50%;width:2px;height:2px;margin-top:-1px;border-radius: 50%;background:var(--color-gray-lv7);}
.productDetail .productInfo .btmInfo .stateG {display:flex;align-items: center;}
.productDetail .productInfo .btmInfo .stateG>span {font-size:12px;color:var(--color-gray-lv7);padding-left:16px;background:url(../img/layout/ico_view_s.svg) no-repeat left 0 top 50%;}
.productDetail .productInfo .btmInfo .stateG>span+span {margin-left:10px;}
.productDetail .productInfo .btmInfo .stateG>span.view {background-image:url(../img/layout/ico_view_s.svg);}
.productDetail .productInfo .btmInfo .stateG>span.like {background-image:url(../img/layout/ico_like_s.svg);}
.productDetail .productInfo .btmInfo .stateG>span.talk {background-image:url(../img/layout/ico_talk_s.svg);}
.productDetail .productScript {padding:20px 15px 44px;}
.productDetail .sellerInfo {padding:20px 15px 0 15px;}
.sellerInfo .seller {display:flex;align-items: center;gap:10px;}
.sellerInfo .seller .profile {border-radius: 50%;width:50px;height:50px;}
.sellerInfo .seller .name {font-weight: 600;}
.productDetail .moreProduct {padding:20px 15px;}
.productDetail .moreProduct .moreTit {display:block;width:100%;background:url(../img/layout/ico_arrR_go.svg) no-repeat top 50% right 0;font-weight: 600;}
.productDetail .moreProduct .product_list {margin-top:0;}

.findID .writeList_v .txtLink_s {margin-top:10px;text-align: right;}

.notiTxt {margin-bottom: 30px;}

.btn_eye {position:absolute;right:20px;top:50%;width:20px;height:20px;margin-top:-10px;background:url(../img/layout/ico_eye_on.svg) no-repeat center;}
.btn_eye.off {background-image:url(../img/layout/ico_eye_off.svg)}

.agreeBox .agreeAll {border: 1px solid var(--color-gray-lv4);padding:15px;margin-bottom: 20px;border-radius: 7px;}
.agreeBox .agreeList .inputBox {position:relative;display:block;}
.agreeBox .agreeList .inputBox .txtLink_s {position:absolute;top:50%;transform: translateY(-50%);right:0;}
.agreeBox .agreeList .inputBox+.inputBox {margin-top:15px;}
.agreeBox .agreeList .smallAgree {display:flex;gap:20px;padding-left:34px;margin-top:5px;}
.agreeBox .agreeList .smallAgree .inputBox+.inputBox {margin-top:0;}

.groupCont>.division+.division {margin-top:35px;}
.groupCont .division .headLine4 {position:relative;display:block;margin-bottom: 15px;}
.groupCont .division .headLine4 .txtLink_s {position:absolute;right:0;top:50%;transform:translateY(-50%);text-decoration: underline;font-weight: 400;}
.groupCont .division .txtBody1+.txtBody1 {margin-top:7px;}
.groupCont .division .txtBody1+.headLine5 {margin-top:15px;}
.groupCont .division .headLine5+.contTable {margin-top:10px;}
.groupCont .division .contTable+.headLine5 {margin-top:25px;}
.groupCont .division .contTable+.txtBody1 {margin-top:25px;}

.totalSch .tagArea {display:flex;gap:10px;flex-wrap: wrap;}
.totalSch .tagArea>a {border-radius: 30px;padding:5px 15px;text-align: center;background:var(--color-gray-lv2);color:var(--color-gray-lv7)}

.searchWordList>ul {display:flex;flex-wrap: wrap;align-items: center;}
.searchWordList>ul>li {width:50%;}
.searchWordList>ul>li:nth-child(n+3) {margin-top:10px}
.searchWordList>ul>li>a {display:flex;display:flex;align-items: center; }
.searchWordList>ul>li .num {width:30px;font-weight:700;font-size: 18px;color: var(--color-blue);font-style: italic;}

.alarmList>ul>li {padding-left:65px;background: url(../img/layout/ico_bell.svg) no-repeat left 0 top 0px;}
.alarmList>ul>li+li {margin-top:20px;}
.alarmList>ul>li .txtBody2 {display:block;margin-top:3px;font-size:13px;color:var(--color-gray-lv7);}
.alarmList>ul>li .txtBody1 {line-height: 22px;}

.settingList>li {position:relative;padding:15px 0;}
.settingList>li:first-child:before {content:'';display:block;width:calc(100% + 30px);height:1px;background:var(--color-gray-lv4);position:absolute;left:-15px;top:0;}
.settingList>li:after {content:'';display:block;width:calc(100% + 30px);height:1px;background:var(--color-gray-lv4);position:absolute;left:-15px;bottom:0;}
.settingList>li .txtBody3 {color:var(--color-gray-lv7);display:block;margin-top:3px;}

.settingList.typeToggle>li .toggle {position:absolute;right:0;top:50%;transform: translateY(-50%);}
.settingList>li .arrR {display:block;color:var(--color-gray-lv6);font-weight: 600;background: url(../img/layout/ico_arrR_go.svg) no-repeat top 50% right 0;padding-right: 50px;}

.reportSelect .settingList>li .arrR {color:#111;font-weight: 400;}
.reportReason textarea {margin-top:20px;display:block;}

.writeList_v .registerArea {position:relative;width:65px;height:65px;border-radius: 5px;border:1px solid var(--color-gray-lv4)}
.writeList_v .registerArea .btnUpload {position:absolute;width: 100%;height: 100%;cursor: pointer;background: url(../img/layout/ico_camera.svg) no-repeat top 13px left 50%;}
.writeList_v .registerArea .btnUpload .status {text-align: center;font-size: 13px;display: block;padding-top:35px;}
.writeList_v .registerArea #file {display: none;}
.writeList_v .photoList .photo {position:relative;width:65px;height:65px;border-radius: 5px;border:1px solid var(--color-gray-lv4);font-size: 0;align-items: flex-start;}
.writeList_v .photoList .photo .btnDelete {position:absolute;right:-5px;top:-5px;display:block;width:16px;height:16px;background:url(../img/layout/ico_close_s.svg) no-repeat center}
.writeList_v .photoList .photo img {position:absolute;left:50%;top:50%;transform: translate(-50%, -50%);width:100%;height:100%;object-fit: cover;border-radius: 5px;}
.writeList_v .photoList {display:flex;gap:10px;display: flex;gap: 10px;flex-wrap: nowrap;overflow-x: auto;padding-top:5px;}
.writeList_v>ul.photoList>li+li {margin-top:0;}
.inputWrap button.inputBase.typeGo {background-color: #fff;padding:0 16px;text-align: left;}

.categorySelect .inputBox+.inputBase {margin-top:15px;}
.categorySelect .settingList>li:last-child:after {display:none;}

.talkList>li+li {margin-top:20px}
.talkList>li>a {display:flex;align-items: center;}
.talkList>li>a .productThum {position:relative;width:50px;height:50px;border-radius: 10px;font-size: 0;overflow: hidden;}
.talkList>li>a .productThum img {position:absolute;width:100%;height:100%;object-fit: cover;}
.talkList>li>a .profile {position:relative;width:60px;height:60px;border-radius: 10px;font-size: 0;margin-right: 10px;border-radius: 50%;overflow: hidden;}
.talkList>li>a .profile img {position:absolute;width:100%;height:100%;object-fit: cover;}
.talkList>li>a .info {width:calc(100% - 130px);margin-right: 10px;}
.talkList>li>a .time {font-size: 12px;color:var(--color-gray-lv6);}
.talkList>li>a .name {display:block;font-weight: 600;margin-top: -3px;}
.talkList>li>a .txt {font-size: 13px;white-space: pre;overflow: hidden;text-overflow: ellipsis;width:calc(100% - 10px);color:var(--color-gray-lv8);}

#popUtil .settingList {padding:0px 0 0 0;}
#popUtil .settingList>li {padding:20px 0}
#popUtil .settingList>li:last-child:after {display:none;}

.talkDetail .productInfo {position:relative;padding: 0 0 20px 0;display:flex;}
.talkDetail .productInfo:before {content:'';display:block;width:calc(100% + 30px);height:1px;background:var(--color-gray-lv4);position:absolute;left:-15px;bottom:0;}

.productInfo .thumnail {position:relative;width:60px;height:60px;margin-bottom:6px;border-radius: 10px;overflow: hidden;border: 1px solid #dfdfdf;font-size:0;overflow: hidden;margin-right: 10px;}
.productInfo .thumnail>img {position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);width:100%;height:100%;max-width:unset;object-fit: cover;transition:.6s transform, .6s filter}
.productInfo .info {flex:1;}
.productInfo .info .baseBtn.small {width:100px;margin-top:5px;}
.productInfo .made {color:#555;font-size:12px;margin-bottom:0px;}
.productInfo .tit {font-weight: 600;line-height: 18px;}
.productInfo .priceArea {display:flex;margin-top:3px;}
.productInfo .priceArea .rate {color:#2168F5;font-size:15px;font-weight: 600;}
.productInfo .price_before {margin-bottom:-7px;margin-top:2px;color:#b7b7b7;font-size:12px;text-decoration:line-through;}
.productInfo .price {font-size:15px;font-weight:600;margin-right: 5px;}


#chatDock {display:flex;align-items: center;}
#chatDock .fileImg {position:relative;width:25px;height:25px;}
#chatDock .fileImg .btnUpload {position:absolute;width: 100%;height: 100%;cursor: pointer;background: url(../img/layout/ico_fileImg.svg) no-repeat center}
#chatDock .fileImg .btnUpload .status {text-align: center;font-size: 13px;display: block;padding-top:35px;}
#chatDock .fileImg #file {display: none;}
#chatDock .inpArea {flex:1;margin:0 10px}
#chatDock .inpArea input {width:100%;height:35px;border-radius: 25px;background:var(--color-gray-lv4);color:var(--color-gray-lv8);font-weight: 600;padding:15px;border:0;}
#chatDock .inpArea input::placeholder {color:var(--color-gray-lv8);} 
#chatDock .btnSend {display:block;width:25px;height:25px;background:url(../img/layout/ico_send.svg) no-repeat center;position: relative}

.chatArea {padding-top:30px;}
.chatArea .msgContainer {display:flex;flex-direction: column;}
.chatArea .date {text-align: center;font-size: 13px;color:var(--color-gray-lv8);margin-bottom: 20px;}
.chatArea .msg {display:flex;width:100%;gap: 5px;align-items: end;}
.chatArea .msg+.msg {margin-top:25px;}
.chatArea .msg.sent+.msg.sent {margin-top:10px;}
.chatArea .msg.received+.msg.received {margin-top:10px;}
.chatArea .msg.sent {justify-content: end;flex-direction: row-reverse;}
.chatArea .msg.sent .chat {background:#2168F5;color:#fff;}
.chatArea .msg .chat {padding:5px 15px;border-radius: 20px;background:var(--color-gray-lv3);max-width: 75%;display:flex;align-items: center;}
.chatArea .msg .info span {display:block;font-size: 12px;color:var(--color-gray-lv8);}
.chatArea .msg .msgImg {font-size: 0;padding:5px 0;}
.chatArea .msg .msgImg img {max-width: 100px;}
.chatArea .date:nth-of-type(n+2) {margin-top:30px;}

.deliveryWrite {padding-bottom: 150px;}
.deliveryWrite .productInfo .thumnail {width:70px;height:70px;}
.deliveryWrite .groupCont>.division {position:relative;}
.deliveryWrite .groupCont>.division+.division {padding-top:35px;}
.deliveryWrite .groupCont>.division+.division:before {content:'';display:block;width:calc(100% + 30px);height:1px;background:var(--color-gray-lv4);position:absolute;left:-15px;top:0;}
.productInfo {display:flex;}
.productInfo .info {flex:1;}
.deliveryWrite .paymentArea  .payment {display:flex;justify-content: space-between;align-items: center;}
.deliveryWrite .paymentArea  .payment+.payment {margin-top:10px;}

input[type='date']::before {content: attr(data-placeholder);width: 100%;color: #C8C8C8;}
input[type='date']:focus::before,
input[type='date']:valid::before {display: none;}

.btn_help {position:relative;display:inline-block;width:17px;height:17px;vertical-align: middle;background:url(../img/layout/ico_help.svg) no-repeat center;margin:0 3px;}

.typeLogin {}
.typeLogin #contents {padding-bottom: 0;}
.typeLogin #contents>article {min-height: 100vh;min-height: 100dvh;}
.typeLogin #container {padding-top:0}
.typeLogin .login {height: calc(80vh - 30px)}
.typeLogin .loginTxtArea {height: 100%;display:flex;justify-content: center;flex-direction: column;}
.typeLogin .loginTxt_lv1 {font-size: 18px;color:var(--color-gray-lv8);margin-bottom: 10px;text-align: center;letter-spacing: -.5px;font-weight: 500;}
.typeLogin .loginTit {font-size: 40px;line-height:49px;font-weight: 700;letter-spacing: -0.5px;text-align: center;}
.typeLogin .loginTit img {height: 34px;position: relative;top:3px;}
.typeLogin .loginTit span {color:var(--color-blue);font-weight: 800;}

#login_dock {position:fixed;bottom:0;left:0;right:0;z-index: 99;display:flex;flex-direction: column;padding:10px 15px 15px 15px;box-sizing: border-box;background:#fff;}
#login_dock .btnArea {display:flex;width:100%;font-size: 0;gap:15px;align-items: center;margin-top:10px;flex-direction: column;flex-wrap: wrap;}

#pop_login {}
#pop_login .popInnerCont {padding-bottom: 40px;}
#pop_login .btnArea {margin-top:30px;display: flex;flex-direction: column;gap: 15px;}
#pop_login .etcUtil {display:flex;justify-content: space-between;align-items: center;}
#pop_login .etcUtil .findArea>a:first-child {position:relative;margin-right: 5px;padding-right: 10px;}
#pop_login .etcUtil .findArea>a:first-child::before {content:'';display:block;position: absolute;right: 0;top:3px;width:1px;height:12px;background-color: var(--color-gray-lv6);}
#pop_login .addLogin {margin-top:40px;}
#pop_login .add_login_tit {position:relative;text-align: center;color: var(--color-gray-lv7);}
#pop_login .add_login_tit::before {content:'';display:block;position: absolute;width:100%;height: 1px;background:var(--color-gray-lv6);top:50%;margin-top:-.5px;left:0;}
#pop_login .add_login_tit>span {display:inline-block;background:#fff;position: relative;z-index: 1;vertical-align: top;padding:0 15px;font-size: 15px;}

.snsLogin {display:flex;gap:15px;justify-content: center;margin-top:15px;}
.snsLogin button {display:block;width:50px;height:50px;background:#000;border-radius: 50%;}
.snsLogin .typeKaKao {background:#FEE500 url(../img/layout/kakao_s.svg) no-repeat center;background-size: 27px auto;}
.snsLogin .typeApple {background:#fff url(../img/layout/ico_apple.svg) no-repeat center;background-size: 53px auto;border:1px solid #000}